{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.resendMfaCode.title' | translate %}
{% set showBack = true %}
{% set hrefBack = 'reset-password-check-email?requestCode=false' %}
{% block content %}

<form action="/reset-password-check-email" method="get" novalidate>
<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.resendMfaCode.header' | translate }}</h1>

    {{ govukInsetText({
        html: 'pages.resendMfaCode.phoneNumber.isResendCodeRequest' | translate | replace("[mobile].", "") + '<span class="govuk-body govuk-!-font-weight-bold">' + email + '</span>'
    }) }}

    <p class="govuk-body">{{ 'pages.resetPasswordCheckEmail.paragraph3' | translate }}</p>

    {{ govukButton({
        "text": button_text|default('pages.resendMfaCode.continue' | translate, true),
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>

{% endblock %}
