{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.resetPasswordCheckEmail.title' | translate %}
{% set showBack = true %}
{% set hrefBack = 'enter-password' %}
{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.resetPasswordCheckEmail.header' | translate}}</h1>

    {% if not isForcedPasswordResetJourney %}

    <p class="govuk-body" id="confirmationParagraph">
            {{
            'pages.resetPasswordCheckEmail.paragraph1' | translate
            }}
    </p>
    {% endif %}

    <p class="govuk-body">
        {{ govukInsetText({
        html: 'pages.resetPasswordCheckEmail.paragraph2' | translate + '<span class="govuk-body govuk-!-font-weight-bold">' + email + '</span>'
    }) }}
    </p>

    <p class="govuk-body">{{'pages.resetPasswordCheckEmail.paragraph3' | translate}}</p>

    <p class="govuk-body">{{'pages.resetPasswordCheckEmail.paragraph4' | translate}}</p>

    <p class="govuk-body">{{'pages.resetPasswordCheckEmail.paragraph5' | translate}}</p>

    <form action="/reset-password-check-email" method="post" novalidate="novalidate">

        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        {{ govukInput({
        label: {
            text: 'pages.resetPasswordCheckEmail.code.label' | translate
        },
        id: "code",
        name: "code",
        inputmode: "numeric",
        spellcheck: false,
        autocomplete: "one-time-code",
        classes: "govuk-input--width-10 govuk-!-font-weight-bold",
        errorMessage: {
            text: errors['code'].text
        } if (errors['code'])})
    }}

        {% set detailsHTML %}
        <p class="govuk-body">
            {{'pages.resetPasswordCheckEmail.details.text1' | translate}}
            <a href="{{'pages.resetPasswordCheckEmail.details.sendCodeLinkHref' | translate}}" class="govuk-link" rel="noreferrer noopener">{{'pages.resetPasswordCheckEmail.details.sendCodeLinkText'| translate}}</a>
            {{'pages.resetPasswordCheckEmail.details.text2' | translate}}.
        </p>
        {% endset %}

        {{ govukDetails({
      summaryText: 'pages.resetPasswordCheckEmail.details.summaryText' | translate,
      html: detailsHTML
    }) }}

        {{ govukButton({
        "text": 'pages.resetPasswordCheckEmail.buttonText' | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

    </form>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
