{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'pages.resetPasswordAttemptBlocked.title' | translate %}
{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.resetPasswordAttemptBlocked.header' | translate}}</h1>

<p class="govuk-body">
    {{'pages.resetPasswordAttemptBlocked.paragraph1' | translate}}
</p>

<p class="govuk-body">
    {{'pages.resetPasswordAttemptBlocked.paragraph2' | translate}}
    <a href="/reset-password-check-email" class="govuk-link">{{'pages.resetPasswordAttemptBlocked.resetPasswordLinkText' | translate}}</a>
    {{'pages.resetPasswordAttemptBlocked.paragraph3' | translate}}
</p>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, contentId: "", loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
