{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'pages.resetPasswordCountExceeded.title' | translate %}
{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.resetPasswordCountExceeded.header' | translate}}</h1>

<p class="govuk-body">
    {{'pages.resetPasswordCountExceeded.paragraph1' | translate}}
</p>

<p class="govuk-body">
    {{'pages.resetPasswordCountExceeded.paragraph2' | translate}}
    <a href="/reset-password-check-email" class="govuk-link">{{'pages.resetPasswordCountExceeded.resetPasswordLinkText' | translate}}</a>
    {{'pages.resetPasswordCountExceeded.paragraph3' | translate}}
</p>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, contentId: "", loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
