{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.resendMfaCode.title' | translate %}
{% set showBack = true %}
{% set hrefBack = 'reset-password-check-email?requestCode=false' %}
{% set contentId = contentId%}
{% set taxonomyLevel2 = taxonomyLevel2 %}

{% block content %}
<form action="/reset-password-check-email" method="get" novalidate>
<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.resendMfaCode.header' | translate }}</h1>

    {{ govukInsetText({
        html: 'pages.resendMfaCode.email.recipientMessage' | translate + '<span class="govuk-body govuk-!-font-weight-bold">' + email + '</span>'
    }) }}

    {% if support2hrLockout %}
        <p class="govuk-body">{{'pages.resendMfaCode.paragraph1' | translate}}</p>
    {% endif %}

    <p class="govuk-body">{{ 'pages.resendMfaCode.email.paragraph' | translate }}</p>

    {{ govukButton({
        "text": 'pages.resendMfaCode.continue' | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>

{{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2:taxonomyLevel2, contentId:contentId,loggedInStatus:false,dynamic:true})}}
{% endblock %}
