{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form action="/account-created" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

    {{ govukPanel({
        titleText: 'pages.registerAccountCreated.header' | translate
    }) }}

    <br>

    <p class="govuk-body">{{'pages.registerAccountCreated.info.heading' | translate}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{'pages.registerAccountCreated.info.bulletPoint1' | translate}}</li>
        <li>{{'pages.registerAccountCreated.info.bulletPoint2' | translate}}</li>
        <li>{{'pages.registerAccountCreated.info.bulletPoint3' | translate}}</li>
        <li>{{'pages.registerAccountCreated.info.bulletPoint4' | translate}}</li>
    </ul>

    <br>

    {{ govukButton({
        "text": button_text|default('general.continue.label' | translate, true),
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>

{% endblock %}