{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.updatedTermsAndCondsNonServiceRejected.title' | translate %}
{% set rowClasses = 'interrupt-screen' %}
{% block content %}

<h1 class="govuk-white-text govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.updatedTermsAndCondsNonServiceRejected.header' | translate}}</h1>

<p class="govuk-body govuk-white-text">
     {{ 'pages.updatedTermsAndCondsNonServiceRejected.info.text' | translate }}
        <a class="govuk-white-text"
           href="/terms-and-conditions">{{ 'pages.updatedTermsAndCondsNonServiceRejected.info.termsAndConditionsText' | translate }}</a>,
        <a class="govuk-white-text"
           href="/privacy-notice">{{ 'pages.updatedTermsAndCondsNonServiceRejected.info.privacyNoticeText' | translate }}</a>
        {{ 'pages.updatedTermsAndCondsNonServiceRejected.info.and' | translate }}
        <a class="govuk-white-text"
           href="https://www.gov.uk/help/cookies">{{ 'pages.updatedTermsAndCondsNonServiceRejected.info.cookiesPolicyText' | translate }}</a>
           {{ 'pages.updatedTermsAndCondsNonServiceRejected.info.end' | translate }}
</p>

<form id="form-tracking"  action="/updated-terms-and-conditions" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ govukButton({
        "text": 'pages.updatedTermsAndCondsNonServiceRejected.agreeAndContinue' | translate,
        "type": "Submit",
        "preventDoubleClick": true,
        classes: 'govuk-blue-text govuk-white-button inverted-button',
        "name": "termsAndConditionsResult",
        "value": "accept"
    }) }}

    <p class="govuk-body govuk-white-text">
        {{ 'pages.updatedTermsAndCondsNonServiceRejected.section2.paragraph1' | translate }}
        <a class="govuk-white-text"
           href="https://www.gov.uk">{{ 'pages.updatedTermsAndCondsNonServiceRejected.section2.govUkHomePageText' | translate }}</a>
    </p>

    <p class="govuk-body govuk-white-text">
        {{ 'pages.updatedTermsAndCondsNonServiceRejected.section2.paragraph2' | translate }}
        <a class="govuk-white-text"
                   href="/contact-us">{{ 'pages.updatedTermsAndCondsNonServiceRejected.section2.contactUsText' | translate }}</a>
    </p>

</form>
{% endblock %}
