{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.updatedTermsAndCondsMandatory.title' | translate %}
{% set rowClasses = 'interrupt-screen' %}
{% block content %}

<h1 class="govuk-white-text govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.updatedTermsAndCondsMandatory.header' | translate}}</h1>

<p class="govuk-body govuk-white-text">
     {{ 'pages.updatedTermsAndCondsMandatory.info.text' | translate }}
        <a class="govuk-white-text"
           href="/terms-and-conditons">{{ 'pages.updatedTermsAndCondsMandatory.info.termsAndConditionsText' | translate }}</a>,
        <a class="govuk-white-text"
           href="/privacy-statement">{{ 'pages.updatedTermsAndCondsMandatory.info.privacyNoticeText' | translate }}</a>
        {{ 'pages.updatedTermsAndCondsMandatory.info.and' | translate }}
        <a class="govuk-white-text"
           href="https://www.gov.uk/help/cookies">{{ 'pages.updatedTermsAndCondsMandatory.info.cookiesPolicyText' | translate }}</a>
           {{ 'pages.updatedTermsAndCondsMandatory.info.end' | translate }}
</p>

<form action="/updated-terms-and-conditions" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ govukButton({
        "text": 'pages.updatedTermsAndCondsMandatory.agreeAndContinue' | translate,
        "type": "Submit",
        "preventDoubleClick": true,
        classes: 'govuk-blue-text govuk-white-button inverted-button',
        "name": "termsAndConditionsResult",
        "value": "accept"
    }) }}

    <br />

    <p class="govuk-body govuk-white-text">
        {{ 'pages.updatedTermsAndCondsMandatory.section2.paragraph1' | translate }}
        {{ govukButton({
            "text": 'pages.updatedTermsAndCondsMandatory.section2.govUkHomePageText' | translate,
            "type": "Submit",
            "preventDoubleClick": true,
            classes: 'govuk-btn-link',
            "name": "termsAndConditionsResult",
            "value": "govUk"
        }) }}
    </p>

    <p class="govuk-body govuk-white-text">
        {{ 'pages.updatedTermsAndCondsMandatory.section2.paragraph2' | translate }}
        {{ govukButton({
            "text": 'pages.updatedTermsAndCondsMandatory.section2.contactUsText' | translate,
            "type": "Submit",
            "preventDoubleClick": true,
            classes: 'govuk-btn-link',
            "name": "termsAndConditionsResult",
            "value": "contactUs"
        }) }}
    </p>



</form>
{% endblock %}