{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.updatedTermsAndConds.title' | translate %}
{% set rowClasses = 'interrupt-screen' %}
{% block content %}

<h1 class="govuk-white-text govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.updatedTermsAndConds.header' | translate}}</h1>

<p class="govuk-body govuk-white-text">
    {{ 'pages.updatedTermsAndConds.paragraph1.text' | translate }}<a class="govuk-white-text" href="{{ 'pages.updatedTermsAndConds.paragraph1.termsAndConditionsHref' | translate }}">{{ 'pages.updatedTermsAndConds.paragraph1.termsAndConditionsText' | translate }}</a>{{ 'pages.updatedTermsAndConds.paragraph1.text2' | translate }}
</p>

<p class="govuk-body govuk-white-text">
    {{ 'pages.updatedTermsAndConds.paragraph2.text' | translate }}<a class="govuk-white-text" href="{{ 'pages.updatedTermsAndConds.paragraph2.privacyNoticeHref' | translate }}">{{ 'pages.updatedTermsAndConds.paragraph2.privacyNoticeText' | translate }}</a>{{ 'pages.updatedTermsAndConds.paragraph2.text2' | translate }}
</p>

<form id="form-tracking"  action="/updated-terms-and-conditions" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ govukButton({
        "text": 'pages.updatedTermsAndConds.agreeAndContinue' | translate,
        "type": "Submit",
        "preventDoubleClick": true,
        "classes": 'govuk-button--inverse',
        "name": "termsAndConditionsResult",
        "value": "accept"
    }) }}

    <br >

</form>
{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
