{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.updatedTermsAndCondsOptional.title' | translate %}
{% set rowClasses = 'interrupt-screen' %}
{% block content %}

<h1 class="govuk-white-text govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.updatedTermsAndCondsOptional.header' | translate}}</h1>

<p class="govuk-body govuk-white-text">
    {{ 'pages.updatedTermsAndCondsOptional.paragraph1' | translate }}
    <a class="govuk-white-text" href="{{ redirectUri }}">{{ 'pages.updatedTermsAndCondsOptional.paragraph1Continued' | translate }}</a>
</p>

<form id="form-tracking" action="/updated-terms-and-conditions" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ govukButton({
        "text": 'pages.updatedTermsAndCondsOptional.agreeToTheTerms' | translate,
        "type": "Submit",
        "preventDoubleClick": true,
        classes: 'govuk-blue-text govuk-white-button inverted-button',
        "name": "termsAndConditionsResult",
        "value": "accept"
    }) }}

</form>

<a href="{{ redirectUri }}" class="govuk-white-link inverted-button-link govuk-body">
    {{'pages.updatedTermsAndCondsOptional.continueWithoutSaving' | translate}}
</a>

{% endblock %}
