{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.enterAuthenticatorAppCode.title' | translate %}

{% block content %}

  {% include "common/errors/errorSummary.njk" %}

  <form id="form-tracking" action="/enter-authenticator-app-code" method="post" novalidate="novalidate">

    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="isAccountRecoveryPermitted" value="{{isAccountRecoveryPermitted}}"/>
    <input type="hidden" name="mfaResetPath" value="{{mfaResetPath}}"/>
    <input type="hidden" name="supportMfaResetWithIpv" value="{{supportMfaResetWithIpv}}"/>

    {{ govukInput({
      label: {
        text: 'pages.enterAuthenticatorAppCode.header' | translate,
        classes: "govuk-label--l",
        isPageHeading: true
      },
    classes: "govuk-input--width-10",
    id: "code",
    name: "code",
    inputmode: "numeric",
    spellcheck: false,
    autocomplete:"one-time-code",
    errorMessage: {
      text: errors['code'].text
    } if (errors['code'])})
  }}

    {{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
  }) }}

  </form>

  {% if isAccountRecoveryPermitted === true or isAccountRecoveryPermitted === "true" %}
    {% set detailsHTML %}
      {% if supportMfaResetWithIpv === true or supportMfaResetWithIpv === "true" %}
      <p class="govuk-body">
        {{'pages.enterAuthenticatorAppCode.details.text1MfaResetWithIpv' | translate}}
        <a href="{{mfaResetPath}}" class="govuk-link" rel="noreferrer noopener">{{'pages.enterAuthenticatorAppCode.details.text2MfaResetWithIpv'| translate}}</a>{{'pages.enterAuthenticatorAppCode.details.text3' | translate}}
      </p>
      {% else %}
      <p class="govuk-body">
        {{'pages.enterAuthenticatorAppCode.details.text1' | translate}}
        <a href="{{mfaResetPath}}" class="govuk-link" rel="noreferrer noopener">{{'pages.enterAuthenticatorAppCode.details.text2'| translate}}</a>{{'pages.enterAuthenticatorAppCode.details.text3' | translate}}
      </p>
      {% endif %}
    {% endset %}

    {{ govukDetails({
      summaryText: 'pages.enterAuthenticatorAppCode.details.summary' | translate,
      html: detailsHTML
    }) }}
  {% endif %}

  {% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
  {%- include "ga4-opl/template.njk" -%}
{% endblock %}
