{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.enterAuthenticatorAppCode.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.enterAuthenticatorAppCode.header' | translate }}</h1>

<form id="form-tracking" action="/enter-authenticator-app-code" method="post" novalidate>

  <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

  {{ govukInput({
    label: {
      text: 'pages.enterAuthenticatorAppCode.code.label' | translate
    },
    classes: "govuk-input--width-10",
    id: "code",
    name: "code",
    type: "number",
    autocomplete:"off",
    errorMessage: {
      text: errors['code'].text
    } if (errors['code'])})
  }}

  {{ govukButton({
    "text": button_text|default('general.continue.label' | translate, true),
    "type": "Submit",
    "preventDoubleClick": true
  }) }}

</form>

{% endblock %}