@use "../../../node_modules/govuk-frontend/govuk/all";

.interrupt-screen {
  background-color: #1d70b8;
  padding-top: 50px;
  padding-bottom: 50px;
}

.govuk-white-text {
  color: #ffffff;
}

.govuk-blue-text {
  color: #1d70b8;
  font-weight: bold;
}

.govuk-white-button {
  background-color: #ffffff;
}

.govuk-white-link {
  color: #ffffff;
  font-weight: bold;
}

.govuk-btn-link {
  border: none;
  font-weight: bold;
  outline: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 1px #ffffff;
  padding: 0;
}