@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

@import "components/back-link/back-link";
@import "components/button/button";
@import "components/character-count/character-count";
@import "components/checkboxes/checkboxes";
@import "components/cookie-banner/cookie-banner";
@import "components/details/details";
@import "components/error-summary/error-summary";
@import "components/footer/footer";
@import "components/header/header";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/notification-banner/notification-banner";
@import "components/panel/panel";
@import "components/phase-banner/phase-banner";
@import "components/radios/radios";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/table/table";
@import "components/warning-text/warning-text";

@import "../../../node_modules/@govuk-one-login/frontend-language-toggle/build/stylesheet/styles";
@import "prove-identity-callback/spinner";

.interrupt-screen {
  background-color: #1d70b8;
  padding: 30px;
  margin-right: 15px;
  margin-left: 15px;
  width: auto;
}

.govuk-white-text {
  color: #ffffff;
}

.govuk-blue-text {
  color: #1d70b8;
  font-weight: bold;
}

.govuk-bold {
  font-weight: bold;
}

.govuk-white-button {
  background-color: #ffffff;
}

.govuk-white-link {
  color: #ffffff;
  font-weight: bold;
}

.govuk-btn-link {
  vertical-align: inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 1px #ffffff;
  padding: 0;
}

.govuk-btn-as-link {
  vertical-align: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: $govuk-link-colour;
  box-shadow: 0 1px #ffffff;
  margin: 0;
}

.govuk-btn-as-link:hover {
  background: none;
  color: $govuk-link-visited-colour;
  text-decoration: underline;
}

.govuk-btn-link:hover {
  background: none;
}

.inverted-button {
  background-color: #ffffff;
  color: #0b0c0c;
  box-shadow: 0 2px 0 #b1b4b6;
  font-weight: bold;
}

.inverted-button:hover {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

.inverted-button-link {
  box-shadow: none;
}

.inverted-button-link:hover {
  text-decoration-thickness: 2px;
  background: none;
}

.govuk-show-password__input-wrapper {
  display: table; // IE fallback
  display: flex;
  width: 100%;
  flex-direction: column;

  @include govuk-media-query($from: mobile) {
    flex-direction: row;
  }

  .govuk-input--with-password {
    display: table-cell;

    &:focus {
      z-index: 1;
    }

    &::-ms-reveal {
      display: none;
    }
  }
}

.govuk-show-password__toggle {
  z-index: 0;
  display: table-cell; // IE fallback
  padding: govuk-spacing(1) govuk-spacing(3);
  min-width: 5.5em; // stops the button width jumping when the text changes
  color: $govuk-link-colour;
  text-decoration: underline;
  background: govuk-colour("white");
  border: solid 2px $govuk-input-border-colour;
  white-space: nowrap;
  cursor: pointer;

  @include govuk-font(19);

  @include govuk-media-query($until: mobile) {
    padding: govuk-spacing(1);
    width: 100%;
    margin-top: -2px;
    white-space: normal;
  }

  @include govuk-media-query($from: mobile) {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    color: $govuk-link-hover-colour;
    @include govuk-link-hover-decoration;
  }

  &:focus {
    z-index: 1;
    background: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    outline: 0;
  }

  &:active {
    z-index: 1;
    background: govuk-colour("white");
    border-color: $govuk-focus-colour;
    color: $govuk-link-active-colour;
  }
}

.govuk-input--disabled {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

.ccms-loader {
  border: 12px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #005ea5;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

.text-centre {
  text-align: center;
}

.permit-reflow {
  word-break: break-all;
}

.secret-key-fragment {
  margin-right: 0.25rem;
}

.contact {
  border-left: 1px solid $govuk-border-colour;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.govuk-template__mobile {
  background-color: $govuk-body-background-colour;
}

.strategic-app-header {
  &:hover {
    text-decoration: none;
    border-bottom: 0;
  }
}

.strategic-app-retry-options {
  a:first-child {
    display: inline-block;
    @include govuk-responsive-margin(2, "bottom");
  }
}

.test-banner {
  .govuk-tag {
    color: #594d00;
    background-color: #fff7bf;
  }

  .govuk-header__container {
    border-bottom: 10px solid govuk-colour("yellow");
  }
}
