{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/show-password/macro.njk" import govukInputWithHintAndShowPassword %}

{% set pageTitleName = 'pages.resetPassword.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'pages.resetPassword.header' | translate }}</h1>

    {% if isPasswordChangeRequired %}
        <p class="govuk-body">{{ 'pages.resetPassword.password.paragraphRequired' | translate }}</p>
    {% endif %}

    <form action="/reset-password" method="post" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukInputWithHintAndShowPassword(
            'pages.resetPassword.password.label'  | translate,
            "password",
            errors,
            {
                show: 'general.showPassword.show' | translate,
                hide: 'general.showPassword.hide' | translate,
                showFullText: 'general.showPassword.showFullText' | translate,
                hideFullText: 'general.showPassword.hideFullText' | translate,
                announceShown: 'general.showPassword.announceShown' | translate,
                announceHidden: 'general.showPassword.announceHidden' | translate
            },
            'new-password',
            'pages.resetPassword.password.hintText' | translate
        ) }}

        {{ govukInputWithHintAndShowPassword(
            'pages.resetPassword.confirmPassword.label' | translate,
            "confirm-password",
            errors,
            {
                show: 'general.showRetypedPassword.show' | translate,
                hide: 'general.showRetypedPassword.hide' | translate,
                showFullText: 'general.showRetypedPassword.showFullText' | translate,
                hideFullText: 'general.showRetypedPassword.hideFullText' | translate,
                announceShown: 'general.showRetypedPassword.announceShown' | translate,
                announceHidden: 'general.showRetypedPassword.announceHidden' | translate
            },
            'new-password'
        ) }}

        {% include "common/password-guidance/_password-guidance-details.njk" %}

        {{ govukButton({
            "text": "general.continue.label" | translate,
            "type": "Submit",
            "preventDoubleClick": true
        }) }}

    </form>

    {% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
    {%- include "ga4-opl/template.njk" -%}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
    <script defer type="text/javascript" src="/public/scripts/prevent-double-form-submit.js"></script>
{% endblock %}
