{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set pageTitleName = 'pages.resetPasswordConfirmation.title' | translate %}

{% block content %}

{{ govukPanel({
    titleText: 'pages.resetPasswordConfirmation.header' | translate
}) }}

<p class="govuk-body">{{'pages.resetPasswordConfirmation.summary.text' | translate }}
<a class="govuk-link" rel="noreferrer" href="https://www.gov.uk/">{{'pages.resetPasswordConfirmation.summary.link' | translate }}</a>
{{'pages.resetPasswordConfirmation.summary.end' | translate }}
</p>

{% endblock %}
