{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% set pageTitleName = 'pages.resetPassword.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'pages.resetPassword.header' | translate }}</h1>

    {% if isPasswordChangeRequired %}
        <p class="govuk-body">{{ 'pages.resetPassword.password.paragraphRequired' | translate }}</p>
        {% set actionUrl = '/reset-password-required' %}
    {% else %}
        {% set actionUrl = '/reset-password' %}
    {% endif %}

    <form action="{{ actionUrl }}" method="post" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukPasswordInput({
            label: {
                text: "pages.resetPassword.password.label" | translate
            },
            hint: {
                text: "pages.resetPassword.password.hintText" | translate
            },
            id: "password",
            name: "password",
            autocomplete: "new-password",
            showPasswordText: "general.showPassword.show" | translate,
            hidePasswordText: "general.showPassword.hide" | translate,
            showPasswordAriaLabelText: "general.showPassword.showFullText" | translate,
            hidePasswordAriaLabelText: "general.showPassword.hideFullText" | translate,
            passwordShownAnnouncementText: "general.showPassword.announceShown" | translate,
            passwordHiddenAnnouncementText: "general.showPassword.announceHidden" | translate,
            errorMessage: {
                text: errors["password"].text
            } if (errors["password"])
        }) }}

        {{ govukPasswordInput({
            label: {
                text: "pages.resetPassword.confirmPassword.label" | translate
            },
            id: "confirm-password",
            name: "confirm-password",
            autocomplete: "new-password",
            showPasswordText: "general.showPassword.show" | translate,
            hidePasswordText: "general.showPassword.hide" | translate,
            showPasswordAriaLabelText: "general.showPassword.showFullText" | translate,
            hidePasswordAriaLabelText: "general.showPassword.hideFullText" | translate,
            passwordShownAnnouncementText: "general.showPassword.announceShown" | translate,
            passwordHiddenAnnouncementText: "general.showPassword.announceHidden" | translate,
            errorMessage: {
                text: errors["confirm-password"].text
            } if (errors["confirm-password"])
        }) }}

        {% include "common/password-guidance/_password-guidance-details.njk" %}

        {{ govukButton({
            "text": "general.continue.label" | translate,
            "type": "Submit",
            "preventDoubleClick": true
        }) }}

    </form>

    {{ ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: "account recovery", contentId: "c8520c6c-9f09-4edf-8c99-7123a3991cfc", loggedInStatus: false, dynamic: false }) }}
{% endblock %}
