version: "3.8"

services:
  basic-auth-sidecar:
    build:
      context: basic-auth-sidecar
    ports:
      - "3001:8080"
    networks:
      ingress:
    environment:
      BASIC_AUTH_USERNAME: local-user
      BASIC_AUTH_PASSWORD: local-pass
      PROXY_PASS: http://di-auth-frontend:3000
      IP_ALLOW_LIST: '["172.100.0.0/16"]'

  di-auth-frontend:
    container_name: di-authentication-frontend_di-auth-frontend
    build:
      context: .
      dockerfile: local.Dockerfile
    ports:
      - "3000:3000"
      - "9230:9230"
    volumes:
      - ./:/app
    environment:
      - ENVIRONMENT=${ENVIRONMENT}
      - API_BASE_URL=${API_BASE_URL}
      - SESSION_EXPIRY=${SESSION_EXPIRY}
      - SESSION_SECRET=${SESSION_SECRET}
      - API_KEY=${API_KEY}
      - FRONTEND_API_BASE_URL=${FRONTEND_API_BASE_URL}
      - ANALYTICS_COOKIE_DOMAIN=localhost
      - SUPPORT_INTERNATIONAL_NUMBERS=${SUPPORT_INTERNATIONAL_NUMBERS}
      - SUPPORT_LANGUAGE_CY=${SUPPORT_LANGUAGE_CY}
      - SUPPORT_ACCOUNT_RECOVERY=${SUPPORT_ACCOUNT_RECOVERY}
    restart: on-failure
    networks:
      - ingress
      - di-net

  redis:
    image: redis:6.0.5-alpine
    ports:
      - "6389:6379"
    networks:
      - di-net

  di-auth-stub-default:
    build:
      context: .
      dockerfile: Dockerfile-stub
    links:
      - di-auth-frontend
    ports:
      - "2000:2000"
    environment:
      - ENVIRONMENT=${ENVIRONMENT}
      - API_BASE_URL=${API_BASE_URL}
      - FRONTEND_API_BASE_URL=${FRONTEND_API_BASE_URL}
      - TEST_CLIENT_ID=${TEST_CLIENT_ID}
      - STUB_HOSTNAME=${STUB_HOSTNAME}
      - UI_LOCALES=${UI_LOCALES}
      - PORT=2000
    restart: on-failure
    networks:
      - di-net

  di-auth-stub-no-mfa:
    build:
      context: .
      dockerfile: Dockerfile-stub
    links:
      - di-auth-frontend
    ports:
      - "5000:5000"
    environment:
      - ENVIRONMENT=${ENVIRONMENT}
      - API_BASE_URL=${API_BASE_URL}
      - FRONTEND_API_BASE_URL=${FRONTEND_API_BASE_URL}
      - TEST_CLIENT_ID=${TEST_CLIENT_ID}
      - STUB_HOSTNAME=${STUB_HOSTNAME}
      - UI_LOCALES=${UI_LOCALES}
      - VTR=["Cl"]
      - PORT=5000
    restart: on-failure
    networks:
      - di-net

networks:
  di-net:
  ingress:
    ipam:
      config:
        - subnet: 172.100.0.0/16
