x-stub-image-name: &stub-image-name di-authentication-frontend/di-auth-stub-orchstub:latest

services:
  redis:
    image: redis:6.0.5-alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    networks:
      - di-net

  di-auth-stub-orchstub:
    image: *stub-image-name
    pull_policy: never
    ports:
      - "${DOCKER_DOCKER_STUB_ORCHSTUB_PORT:-3002}:${DOCKER_DOCKER_STUB_ORCHSTUB_PORT:-3002}"
    environment:
      PORT: ${DOCKER_DOCKER_STUB_ORCHSTUB_PORT:-3002}
      DEPLOYMENT_NAME: ${DEPLOYMENT_NAME}
    command:
      - npm
      - run
      - dummy-server-orchstub
    restart: on-failure
    networks:
      - di-net

  service-down-page:
    build:
      context: ./service-down-page-config/
      dockerfile: Dockerfile
    ports:
      - ${DOCKER_SERVICE_DOWN_PAGE_PORT:-3005}:8080
    networks:
      - di-net

networks:
  di-net:
