{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro enterMfaAuthApp(paragraph3, authenticatorApp, paragraph3End) %}
    {% set insetTextHtml %}
        <p class="govuk-body">
            {{ paragraph3 }}
            <span class="govuk-!-font-weight-bold">{{ authenticatorApp }}</span>
            <span>{{ paragraph3End }}</span>
        </p>
    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}
{% endmacro %}
