{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.enterMfa.upliftRequired.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'pages.enterMfa.upliftRequired.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.enterMfa.upliftRequired.paragraph1' | translate }} </p>

    {% set insetTextHtml %}
        <p class="govuk-body">{{ 'pages.enterMfa.upliftRequired.paragraph3' | translate }} <span
                    class='govuk-!-font-weight-bold'>{{ phoneNumber | returnLastCharacters({limit: 3}) }}</span></p>
    {% endset %}
    {{ govukInsetText({
        html: insetTextHtml
    }) }}

    <p class="govuk-body">{{ 'pages.enterMfa.upliftRequired.paragraph2' | translate }} </p>

    <form id="form-tracking" action="/enter-code" method="post" novalidate="novalidate">
        <input type="hidden" name="phoneNumber" value="{{ phoneNumber }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="supportAccountRecovery" value="{{ supportAccountRecovery }}" />
        <input type="hidden" name="mfaResetPath" value="{{ mfaResetPath }}" />

        {{ govukInput({
            label: {
                text: 'pages.enterMfa.code.label' | translate
            },
            classes: "govuk-input--width-10 govuk-!-font-weight-bold",
            id: "code",
            name: "code",
            inputmode: "numeric",
            spellcheck: false,
            autocomplete: "one-time-code",
            errorMessage: {
                text: errors['code'].text
            } if (errors['code'])}) }}

        {% set detailsHTML %}
            <p class="govuk-body">
                {{ 'pages.enterMfa.details.text1' | translate }}
                <a href="{{ 'pages.enterMfa.details.sendCodeLinkHref' | translate }}" class="govuk-link"
                   rel="noreferrer noopener">{{ 'pages.enterMfa.details.sendCodeLinkText'| translate }}</a>
                {{ 'pages.enterMfa.details.text 2' | translate }}
            </p>
                {% if supportAccountRecovery === true or supportAccountRecovery === "true" %}
                    <p class="govuk-body">
                        {{ 'pages.enterMfa.details.changeGetSecurityCodesTextWithIpv' | translate }}
                        <a href={{ mfaResetPath }} class="govuk-link"
                           rel="noreferrer noopener">{{ 'pages.enterMfa.details.changeGetSecurityCodesWithIpvLinkText'| translate }}</a>.
                    </p>
                {% endif %}
        {% endset %}

        {{ govukDetails({
            summaryText: 'pages.enterMfa.details.summaryText' | translate,
            html: detailsHTML
        }) }}

        {{ govukButton({
            "text": "general.continue.label" | translate,
            "type": "Submit",
            "preventDoubleClick": true
        }) }}

    </form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
