{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.enterAuthenticatorAppCode.2FaBeforeResetPassword.title' | translate %}

{% block content %}

  {% include "common/errors/errorSummary.njk" %}

  <form id="form-tracking" action="/reset-password-2fa-auth-app" method="post" novalidate="novalidate">

    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="isAccountRecoveryPermitted" value="{{isAccountRecoveryPermitted}}"/>
    <input type="hidden" name="checkEmailLink" value="{{checkEmailLink}}"/>

  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3" id="updatedHeading">{{'pages.enterAuthenticatorAppCode.2FaBeforeResetPassword.header' | translate }}</h1>

    <p class="govuk-body">
            {{ govukInsetText({
            html: 'pages.enterAuthenticatorAppCode.2FaBeforeResetPassword.info.paragraph1' | translate
             + '<span class="govuk-body govuk-!-font-weight-bold">' +  'pages.enterAuthenticatorAppCode.2FaBeforeResetPassword.info.authenticatorApp' | translate + '</span>' +
             'pages.enterAuthenticatorAppCode.2FaBeforeResetPassword.info.paragraph1End'| translate
        }) }}
        </p>

    {{ govukInput({
    label: {
                text: 'pages.enterAuthenticatorAppCode.2FaBeforeResetPassword.code.label' | translate
            },
    classes: "govuk-input--width-10 govuk-!-font-weight-bold",
    id: "code",
    name: "code",
    inputmode: "numeric",
    spellcheck: false,
    autocomplete:"one-time-code",
    errorMessage: {
      text: errors['code'].text
    } if (errors['code'])})
  }}


    {{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
  }) }}

  </form>

  {% if hasMultipleMfaMethods %}
    {% set detailsHTML %}
      <p class="govuk-body">
        {{'pages.enterAuthenticatorAppCode.details.chooseMfaMethod.text1' | translate}}
        <a href="{{ chooseMfaMethodHref }}" class="govuk-link"
          rel="noreferrer noopener">{{'pages.enterAuthenticatorAppCode.details.chooseMfaMethod.text2' | translate}}</a>.
      </p>
    {% endset %}

    {{ govukDetails({
      summaryText: 'pages.enterAuthenticatorAppCode.details.summary' | translate,
      html: detailsHTML
    }) }}
  {% endif %}

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
