{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% macro _customBaseGovukPasswordInput(
    options,
    showInputTextKey,
    hideInputTextKey,
    showInputAriaLabelTextKey,
    hideInputAriaLabelTextKey,
    passwordShownAnnouncementTextKey,
    passwordHiddenAnnouncementTextKey
    ) %}
    {{ govukPasswordInput({
        label: options.label,
        hint: options.hint if (options.hint),
        id: options.id,
        name: options.id,
        autocomplete: options.autocomplete,
        showPasswordText: showInputTextKey | translate,
        hidePasswordText: hideInputTextKey | translate,
        showPasswordAriaLabelText: showInputAriaLabelTextKey | translate,
        hidePasswordAriaLabelText: hideInputAriaLabelTextKey | translate,
        passwordShownAnnouncementText: passwordShownAnnouncementTextKey | translate,
        passwordHiddenAnnouncementText: passwordHiddenAnnouncementTextKey | translate,
        errorMessage: {
            text: options.errors[options.id].text
        } if (options.errors[options.id])
    }) }}
{% endmacro %}

{% macro customGovukPasswordInput(options) %}
    {{ _customBaseGovukPasswordInput(
        options,
        'general.showPassword.show',
        'general.showPassword.hide',
        'general.showPassword.showFullText',
        'general.showPassword.hideFullText',
        'general.showPassword.announceShown',
        'general.showPassword.announceHidden'
    ) }}
{% endmacro %}

{% macro customGovukRetypePasswordInput(options) %}
    {{ _customBaseGovukPasswordInput(
        options,
        'general.showRetypedPassword.show',
        'general.showRetypedPassword.hide',
        'general.showRetypedPassword.showFullText',
        'general.showRetypedPassword.hideFullText',
        'general.showRetypedPassword.announceShown',
        'general.showRetypedPassword.announceHidden'
    ) }}
{% endmacro %}
