{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'error.error404.title' | translate %}

{% block content %}
    <h1 class="govuk-heading-l">{{ 'error.error404.header' | translate }}</h1>
    <p class="govuk-body">{{ 'error.error404.content.paragraph1' | translate }}</p>
    <p class="govuk-heading-m">{{ 'error.error404.content.whatYouCanDo' | translate }}</p>
    <p class="govuk-body">{{ 'error.error404.content.paragraph2' | translate }}</p>
    <p class="govuk-body">{{ 'error.error404.content.paragraph3' | translate }}</p>
    <p class="govuk-body">{{ 'error.error404.content.paragraph4' | translate }}</p>

    {{ govukButton({
        "text": "error.error404.content.govUKHomepageButtonText" | translate,
        "type": "Submit",,
        attributes: {
            "data-nav": "true",
            "data-link": "/undefined"
        },
        "href": "error.error404.content.govUKHomepageButtonHref" | translate
    }) }}

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "404", englishPageTitle: pageTitleName, taxonomyLevel1: taxonomyLevel1, taxonomyLevel2: taxonomyLevel2, contentId: "" , loggedInStatus: false, dynamic: false })}}

{% endblock %}
