{% extends "common/layout/base.njk" %}

{% set pageTitleName = 'error.error500.title' | translate %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ 'error.error500.header' | translate }}</h1>
    <p class="govuk-body">{{ 'error.error500.content.paragraph1' | translate }}</p>
  </div>
</div>

{% set ga4Params = { nonce: scriptNonce, statusCode: "500", englishPageTitle: pageTitleName, contentId: "", loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
