{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'error.midJourneyError.title' | translate %}

{% block content %}

<h1 class="govuk-heading-l">{{ 'error.midJourneyError.header' | translate }}</h1>

<p class="govuk-body">
    <a href={{accountManagementUrl}} class="govuk-link govuk-body" id="oneLoginAcctMgmtHomeLink">{{ 'error.midJourneyError.content.paragraph1.text1' | translate }}</a>{{ 'error.midJourneyError.content.paragraph1.text2' | translate }}
    <a href="{{'error.midJourneyError.content.govUKHomepageButtonHref' | translate}}" class="govuk-link govuk-body" id="govUkHomeLink">{{ 'error.midJourneyError.content.paragraph1.text3' | translate }}</a>.
</p>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, contentId: "", loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
