{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'error.timeoutError.title' | translate %}

{% block content %}

<h1 class="govuk-heading-l">{{ 'error.timeoutError.header' | translate }}</h1>
<p class="govuk-body">{{ 'error.timeoutError.content.paragraph1' | translate }}</p>
<p class="govuk-body">{{ 'error.timeoutError.content.paragraph2' | translate }}</p>

{{ govukButton({
"text": button_text|default('error.timeoutError.content.signInButtonText' | translate, true),
"type": "Submit",
"href": accountManagementUrl
}) }}

<p class="govuk-body">
    <a href="{{'error.timeoutError.content.govUKHomepageLink' | translate }}" class="govuk-link">{{'error.timeoutError.content.govUKHomepageLinkText' | translate }}</a>
</p>

{% endblock %}
