{% extends "common/layout/base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'We could not sign you in'  %}

{% block content %}
  {% include "common/errors/errorSummary.njk" %}

  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{ 'pages.cannotSignInPasskey.title' | translate }}
  </h1>

  <form method="post" id="cannotSignInPasskeyForm" data-authentication-options="{{ authenticationOptions }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="authenticationResponse" value="" />
    <input type="hidden" name="authenticationError" value="JavaScriptNotEnabled" />

    {{ govukRadios({
      name: "cannot-sign-in-passkey-action",
      attributes: {
        "id": "cannot-sign-in-passkey-action"
      },
      fieldset: {
        legend: {
          text: 'pages.cannotSignInPasskey.radios.header' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "retry-passkey",
          text: 'pages.cannotSignInPasskey.radios.retryPasskeyOption' | translate,
          id: "retry-passkey"
        },
        {
          value: "sign-in-without-passkey",
          text: ( 'pages.cannotSignInPasskey.radios.signInWithPasswordMfaOption' if is2FAJourney else 'pages.cannotSignInPasskey.radios.signInWithPasswordOption' ) | translate,
          id: "sign-in-without-passkey"
        }
      ],
      errorMessage: {
        text: errors['cannot-sign-in-passkey-action'].text | translate
      } if (errors['cannot-sign-in-passkey-action'])
    }) }}

    {{ govukButton({
      "text": "general.continue.label" | translate,
      "type": "Submit",
      "preventDoubleClick": true
    }) }}
  </form>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}

{% block scripts %}
  <script {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}>
    const cannotSignInPasskeyForm = document.getElementById("cannotSignInPasskeyForm");
    let isSubmitting = false

    async function triggerWebAuthnFlow() {
      try {
        if (SimpleWebAuthnBrowser.browserSupportsWebAuthn()) {
          const authenticationResponse = await SimpleWebAuthnBrowser.startAuthentication({ optionsJSON: JSON.parse(cannotSignInPasskeyForm.dataset.authenticationOptions) });
          cannotSignInPasskeyForm.querySelector("input[name=\"authenticationResponse\"]").value = JSON.stringify(authenticationResponse);

          const authenticationErrorField = cannotSignInPasskeyForm.querySelector("input[name=\"authenticationError\"]");
          authenticationErrorField.parentNode.removeChild(authenticationErrorField);
        }
      } catch (error) {
        console.error(error.message);
        cannotSignInPasskeyForm.querySelector("input[name=\"authenticationError\"]").value = `${error.name} - ${error.message}`;
      }
    }

    async function handleSubmit(event) {
      event.preventDefault();

      if (isSubmitting) return
      isSubmitting = true

      const selectedOption = document.querySelector('input[name="cannot-sign-in-passkey-action"]:checked')?.value;

      if (selectedOption === "retry-passkey") {
        await triggerWebAuthnFlow();
      }

      cannotSignInPasskeyForm.submit();
    }

    cannotSignInPasskeyForm.addEventListener('submit', handleSubmit);

  </script>
  <script defer type="text/javascript" src="/public/scripts/prevent-double-form-submit.js"></script>
{% endblock %}
