{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.suspendedPageScreen.title' | translate %}

{% block content %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.suspendedPageScreen.heading' | translate }}</h1>

    <p class="govuk-body">{{'pages.suspendedPageScreen.section1.paragraph1' | translate }}</p>

    <h3 class="govuk-heading-m">
      {{'pages.suspendedPageScreen.section2.heading' | translate}}
    </h3>

    <p class="govuk-body">{{'pages.suspendedPageScreen.section2.paragraph1' | translate }}</p>

    <p class="govuk-body">{{'pages.suspendedPageScreen.section2.paragraph2' | translate }}</p>

    {% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
    {%- include "ga4-opl/template.njk" -%}

{% endblock %}
