{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set showBack = true %}
{% set hrefBack = 'photo-id' %}
{% set pageTitleName = 'pages.noPhotoId.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.photoId.header' | translate}}</h1>

    <p class="govuk-body">{{'pages.noPhotoId.section1.paragraph1' | translate}}</p>

    <h2 class="govuk-heading-s">{{'pages.noPhotoId.section2.subHeading' | translate}}</h2>

    <p class="govuk-body">{{'pages.noPhotoId.section2.paragraph1' | translate}}</p>

    <form id="form-tracking" action="/no-photo-id" method="post" novalidate="novalidate">

        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

        {{ govukButton({
            "text": button_text|default('general.continue.label' | translate, true),
            "type": "Submit",
            "preventDoubleClick": true
        }) }}

    </form>
{% endblock %}