{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.createPassword.header' | translate}}</h1>

<form action="/create-password" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukInput({
    label: {
        text: 'pages.createPassword.password.label' | translate,
        classes: "govuk-label--s"
    },
    hint: {
      text: 'pages.createPassword.password.hint' | translate
    },
    id: "password",
    name: "password",
    type: "password",
    spellcheck: false,
    errorMessage: {
        text: errors['password'].text
    } if (errors['password'])})
}}

{{ govukInput({
    label: {
        text: 'pages.createPassword.confirmPassword.label' | translate,
        classes: "govuk-label--s"
    },
    id: "confirm-password",
    name: "confirm-password",
    type: "password",
    spellcheck: false,
    errorMessage: {
        text: errors['confirm-password'].text
    } if (errors['confirm-password'])})
}}

{{ govukDetails({
  summaryText: 'pages.createPassword.securePasswordDetails.summary' | translate,
  text: 'pages.createPassword.securePasswordDetails.text' | translate
}) }}

<h3 class="govuk-heading-s">{{'pages.createPassword.termsOfUse.heading' | translate}}</h3>

<p class="govuk-body">{{'pages.createPassword.termsOfUse.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.createPassword.termsOfUse.paragraph2' | translate | replace("#PRIVACY_NOTICE_LINK", '<a class="govuk-link" href="privacy-statement" rel="noreferrer noopener" target="_blank">privacy notice</a>') | safe }}</p>

{{ govukButton({
    "text": button_text|default("Continue", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% endblock %}

