{% set html %}
<p class="govuk-body">{{ 'general.cookie.cookieBanner.paragraph1' | translate }}</p>
<p class="govuk-body">{{ 'general.cookie.cookieBanner.paragraph2' | translate }}</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">{{ 'general.cookie.cookieBanner.cookeBannerAccept.paragraph1' | translate }}<a class="govuk-link" href="/cookies">{{ 'general.cookie.cookieBanner.changeCookiePreferencesLink' | translate }}</a> {{ 'general.cookie.cookieBanner.cookeBannerAccept.paragraph2' | translate }}</p>
{% endset %}

{% set rejectedHtml %}
  <p class="govuk-body">{{ 'general.cookie.cookieBanner.cookeBannerReject.paragraph1' | translate }}<a class="govuk-link" href="/cookies">{{ 'general.cookie.cookieBanner.changeCookiePreferencesLink' | translate }}</a> {{ 'general.cookie.cookieBanner.cookeBannerReject.paragraph2' | translate }}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: 'general.cookie.cookieBanner.title' | translate,
  name: "gov-uk-cookie-banner",
  messages: [
    {
      headingText: 'general.cookie.cookieBanner.heading' | translate,
      html: html,
      attributes: {
                  "id": "cookies-banner-main"
                },
      actions: [
        {
          text: 'general.cookie.cookieBanner.buttonAcceptText' | translate,
          type: "button",
          name: "cookiesAccept",
          value: "accept"
        },
        {
          text: 'general.cookie.cookieBanner.buttonRejectText' | translate,
          type: "button",
          name: "cookiesReject",
          value: "reject"
        },
        {
          text: 'general.cookie.cookieBanner.linkViewCookiesText' | translate,
          href: "/cookies"
        }
      ]
    },
    {
      html: acceptHtml,
      attributes: {
        "id": "cookies-accepted"
      },
      actions: [
        {
          text: 'general.cookie.cookieBanner.cookieBannerHideLink' | translate,
          href: "#",
          type: "button",
          classes:"cookie-hide-button",
          attributes: {
            "aria-label": 'general.cookie.cookieBanner.cookieBannerHideLink' | translate
          }
        }
      ],
      hidden: true
    },
    {
      html: rejectedHtml,
      attributes: {
        "id": "cookies-rejected"
      },
      actions: [
        {
          text: 'general.cookie.cookieBanner.cookieBannerHideLink' | translate,
          href: "#",
          type: "button",
          classes:"cookie-hide-button",
          attributes: {
            "aria-label": 'general.cookie.cookieBanner.cookieBannerHideLink' | translate
          }
        }
      ],
      hidden: true
    }
  ],  hidden: true
}) }}
