{% extends "govuk/template.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "frontend-language-toggle/build/macro.njk" import languageSelect %}

{% from "../header/macro.njk" import strategicAppHeader %}

{% if strategicAppChannel == true %}
  {% set htmlClasses = 'govuk-template__mobile' %}
{% endif %}

{% block head %}

    <!--[if !IE 8]><!-->
    <link href="/public/style.css" rel="stylesheet">
    <!--<![endif]-->

    {# For Internet Explorer 8, you need to compile specific stylesheet #}
    {# see https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
    <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet">
    <![endif]-->

    {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
    <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->




    {% block headMetaData %}{% endblock %}

{% endblock %}

{% block pageTitle %}
    {% if error or errors %}
        {{ 'general.errorTitlePrefix' | translate }}
        -
    {% endif %}
    {% if pageTitleName %}
        {{ pageTitleName }}
        -
    {% endif %}
    {{ 'general.serviceNameTitle' | translate }}
{% endblock %}

{% block bodyStart %}
    {% include 'common/layout/banner.njk' %}
{% endblock %}

{% block header %}
    {% if strategicAppChannel %}
    {{ strategicAppHeader({
        useTudorCrown: true
    })}}
    {% else %}
    {{ govukHeader({
        homepageUrl: 'general.header.homepageHref' | translate,
        useTudorCrown: true
    })}}
    {% endif %}
{% endblock %}

{% set phaseBannerText %}
{{ 'general.phaseBanner.message.start' | translate }}
<a href="{{ contactUsLinkUrl }}" class="govuk-link"
                                                             rel="noopener"
                                                             target="_blank">{{ 'general.phaseBanner.message.linkText' | translate }}</a>
{{ 'general.phaseBanner.message.end' | translate }}
{% endset %}

{% block main %}
    <div class="govuk-width-container {{ containerClasses }}">
        {% if strategicAppChannel === true %}
        {% else %}
        {{ govukPhaseBanner({
            tag: {
                text: 'general.phaseBanner.tag' | translate
            },
            html: phaseBannerText
        }) }}
        {% endif %}
        {% block beforeContent %}{% endblock %}
        {% if languageToggleEnabled %}
        {{ languageSelect({
            ariaLabel: 'general.languageToggle.ariaLabel' | translate,
            activeLanguage: htmlLang,
            url: currentUrl,
            languages: [
                {
                    code: 'en',
                    text: 'English',
                    visuallyHidden: 'general.languageToggle.visuallyHiddenChangeLanguage' | translate
                },
                {
                    code:'cy',
                    text: 'Cymraeg',
                    visuallyHidden: 'general.languageToggle.visuallyHiddenChangeLanguage' | translate
                }]
        })
        }}
        {% endif %}


        {% if showBack %}
            {{ govukBackLink({
                text: "general.back" | translate,
                href: hrefBack
            }) }}
        {% endif %}
        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content"
              role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds {{ rowClasses }}">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block footer %}
{% if strategicAppChannel === true %}

{% else %}
    {{ govukFooter({
        meta: {
            items: [
                {
                    href: "/accessibility-statement",
                    text: 'general.footer.accessibilityStatement.linkText' | translate
                },
                {
                    href: "/cookies",
                    text: 'general.footer.cookies.linkText' | translate
                },
                {
                    href: "/terms-and-conditions",
                    text: 'general.footer.terms.linkText' | translate
                },
                {
                    href: "/privacy-notice",
                    text: 'general.footer.privacy.linkText' | translate
                },
                {
                    href: contactUsLinkUrl,
                    attributes: {target: "_blank"},
                    text: 'general.footer.support.linkText' | translate
                }
            ]
        },
        contentLicence: {
            text: 'general.footer.contentLicence.linkText' | translate | safe
        },
        copyright: {
            text: 'general.footer.copyright.linkText' | translate
        }
    }) }}
{% endif %}
{% endblock %}

{% block bodyEnd %}
    {% block scripts %}{% endblock %}
    <script type="text/javascript" src="/public/scripts/cookies.js"></script>
    <script type="text/javascript" src="/public/scripts/application.js"></script>
    <script type="text/javascript" src="/public/scripts/all.js"></script>
    <script type="text/javascript" src="/public/scripts/analytics.js"></script>
    <script type="text/javascript" {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}>
        if (window.DI) {
            if (window.DI.appInit) {
                window
                    .DI
                    .appInit({
                        ga4ContainerId: "{{ga4ContainerId}}",
                        uaContainerId: "{{uaContainerId}}"
                    }, {
                        isDataSensitive: false,
                        enableGa4Tracking: {{isGa4Enabled}},
                        cookieDomain: "{{analyticsCookieDomain}}"
                    });
            }
        }
    </script>
{% endblock %}
