{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set showBack = true %}
{% set hrefBack = 'enter-email' %}
{% set pageTitleName = 'pages.accountNotFoundOneLogin.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.accountNotFoundOneLogin.header' | translate}}</h1>

<form action="/account-not-found" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<p class="govuk-body">
    {{ 'pages.accountNotFoundOneLogin.paragraph1' | translate }}
    <span class="govuk-body govuk-!-font-weight-bold">{{email}}</span>
</p>

{% set insetTextHtml %}
<p class="govuk-body">{{'pages.accountNotFoundOneLogin.insetText1' | translate}}</p>
{% endset %}

{{ govukInsetText({
    html: insetTextHtml
  }) }}

<p class="govuk-body">
    {{ 'pages.accountNotFoundOneLogin.paragraph2' | translate }}
</p>

{{ govukButton({
    "text": "pages.accountNotFoundOneLogin.signInToServiceButtonText" | translate,
    "value": "sign-in-to-a-service",
    "name": "optionSelected",
    "preventDoubleClick": true,
    attributes: {
        "data-nav": "true",
        "data-link": "/check-your-email"
    }
}) }}

<p class="govuk-body">
    <a href="/enter-email" class="govuk-link" rel="noreferrer noopener">{{'pages.accountNotFoundOneLogin.tryAnotherLinkText' | translate }}</a>
</p>

</form>

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: taxonomyLevel1, taxonomyLevel2: taxonomyLevel2, contentId: "a70b71e7-b444-46e5-895c-cd2e27bbe6ba", loggedInStatus: false, dynamic: false })}}
{% endblock %}
