{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleName = 'pages.accountNotFound.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.accountNotFound.header' | translate}}</h1>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<p class="govuk-body">
{{ 'pages.accountNotFound.paragraph1' | translate }}
</p>

{% set insetTextHtml %}
<p class="govuk-body">{{'pages.accountNotFound.insetText1' | translate}}</p>
<p class="govuk-body">{{'pages.accountNotFound.insetText2' | translate}}</p>
<p class="govuk-body">{{'pages.accountNotFound.insetText3' | translate}}</p>
{% endset %}

{{ govukInsetText({
    html: insetTextHtml
  }) }}

{{ govukButton({
    "text": button_text|default('pages.accountNotFound.createAccountButtonText' | translate, true),
    "href": "/enter-email-create-account"
}) }}

<p class="govuk-body">
    <a href="/enter-email-existing-account" class="govuk-link" rel="noreferrer noopener">{{'pages.accountNotFound.tryAnotherLinkText' | translate }}</a>
</p>


{% endblock %}

