{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'pages.securityCodeEnteredExceeded.title' | translate %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeEnteredExceeded.header' | translate }}</h1>

    <p class="govuk-body">{{'pages.securityCodeEnteredExceeded.info.paragraph1' | translate}}</p>
    <p class="govuk-body">
        {{'pages.securityCodeEnteredExceeded.info.paragraph2Start' | translate}}
        <a class="govuk-link" rel="noreferrer" href="{{ newCodeLink }}">{{'pages.securityCodeEnteredExceeded.info.link' | translate}}</a>
        {{'pages.securityCodeEnteredExceeded.info.paragraph2End' | translate}}
    </p>

{% endblock %}