{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.securityCodeWaitToRequest.title' | translate %}
{% set contentId = contentId%}
{% set taxonomyLevel2 = taxonomyLevel2 %}

{% block content %}

    {% if support2hrLockout %}

        {% if isAccountCreationJourney %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeWaitToRequest.header_create' | translate }}</h1>
    <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph1_create' | translate}}</p>
        
        {% else %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeWaitToRequest.header' | translate }}</h1>
    <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph1' | translate}}</p>

        {% endif %}

    <h2 class="govuk-heading-s">{{'pages.securityCodeWaitToRequest.info.subHeading' | translate}}</h2>
    <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph2' | translate}}</p>
    <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph3' | translate}}</p>

    {% else %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeWaitToRequest.header' | translate }}</h1>
    <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info_old.paragraph1' | translate}}</p>
    <p class="govuk-body">
        {{'pages.securityCodeWaitToRequest.info_old.paragraph2Start' | translate}}
        <a class="govuk-link" rel="noreferrer" href="{{ newCodeLink }}">{{'pages.securityCodeWaitToRequest.info_old.link' | translate}}</a>
        {{'pages.securityCodeWaitToRequest.info_old.paragraph2End' | translate}}
    </p>

    {% endif %}
{{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2:taxonomyLevel2, contentId:contentId,loggedInStatus:true,dynamic:true})}}
{% endblock %}
