{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if isAccountCreationJourney %}
    {% set pageTitleName = 'pages.securityCodeWaitToRequest.title_create' | translate %}
{% else %}
    {% set pageTitleName = 'pages.securityCodeWaitToRequest.title' | translate %}
{% endif %}
{% block content %}

    {% if isAccountCreationJourney %}
        <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeWaitToRequest.header_create' | translate }}</h1>
        <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph1_create' | translate}}</p>
    {% else %}
        <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeWaitToRequest.header' | translate }}</h1>
        <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph1' | translate}}</p>
    {% endif %}

    <h2 class="govuk-heading-s">{{'pages.securityCodeWaitToRequest.info.subHeading' | translate}}</h2>
    {% if isApp %}
        <p class="govuk-body">{{'mobileAppPages.securityCodeWaitToRequest.info.paragraph2' | translate}}</p>
    {% else %}
        <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph2' | translate}}</p>
        <p class="govuk-body">{{'pages.securityCodeWaitToRequest.info.paragraph3' | translate}}</p>
    {% endif %}

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
