{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'mobileAppPages.securityRequestsExceededExpired.title' | translate %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'mobileAppPages.securityRequestsExceededExpired.header' | translate }}</h1>

    <p class="govuk-body">{{ 'mobileAppPages.securityRequestsExceededExpired.paragraph1' | translate }}</p>
    <h2 class="govuk-heading-s">{{ 'mobileAppPages.securityRequestsExceededExpired.subHeading' | translate }}</h2>
    <p class="govuk-body">{{ 'mobileAppPages.securityRequestsExceededExpired.paragraph2' | translate }}</p>

    {{ ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: taxonomyLevel2, contentId: contentId, loggedInStatus: false, dynamic: true }) }}
{% endblock %}