{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% if show2HrScreen %}
    {% set pageTitleName = 'pages.signInRetryBlocked.title' | translate %}
{% else %}
    {% if isAuthApp %}
        {% set pageTitleName = 'pages.securityCodeAuthAppEnteredExceeded.title' | translate %}
    {% else %}
        {% set pageTitleName = 'pages.securityCodeEnteredExceeded.title' | translate %}
    {% endif %}
{% endif %}

{% block content %}
    {% if show2HrScreen %}
        <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.signInRetryBlocked.header' | translate }}</h1>
        <p class="govuk-body">{{'pages.securityCodeInvalid.2hLockout.signInJourney.info.paragraph5' | translate}}</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
            {{'pages.securityCodeInvalid.2hLockout.signInJourney.info.paragraph2' | translate}}
        </h2>

        {% if strategicAppChannel === true %}
            <p class="govuk-body">{{'mobileAppPages.securityCodeInvalid.2hLockout.signInJourney.info.paragraph3' | translate}}</p>
        {% else %}
            <p class="govuk-body">{{'pages.securityCodeInvalid.2hLockout.signInJourney.info.paragraph3' | translate}}</p>
            <p class="govuk-body">{{'pages.securityCodeInvalid.2hLockout.signInJourney.info.paragraph4' | translate}}</p>
        {% endif %}

    {% else %}
        {% if isAuthApp %}
            {% set pageTitleName = 'pages.securityCodeAuthAppEnteredExceeded.title' | translate %}
        {% else %}
            {% set pageTitleName = 'pages.securityCodeEnteredExceeded.title' | translate %}
        {% endif %}
        {% if isAuthApp %}
            <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeAuthAppEnteredExceeded.header' | translate }}</h1>
            <p class="govuk-body">{{'pages.securityCodeAuthAppEnteredExceeded.info.paragraph1' | translate}}</p>
            <p class="govuk-body">
                {{'pages.securityCodeAuthAppEnteredExceeded.info.paragraph2Start' | translate}}
                <a class="govuk-link" rel="noreferrer" href="{{ newCodeLink }}">{{'pages.securityCodeAuthAppEnteredExceeded.info.link' | translate}}</a>
                {{'pages.securityCodeAuthAppEnteredExceeded.info.paragraph2End' | translate}}
            </p>
        {% else %}
            <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.securityCodeEnteredExceeded.header' | translate }}</h1>
            <p class="govuk-body">{{'pages.securityCodeEnteredExceeded.info.paragraph1' | translate}}</p>
            <p class="govuk-body">
                {{'pages.securityCodeEnteredExceeded.info.paragraph2Start' | translate}}
                <a class="govuk-link" rel="noreferrer" href="{{ newCodeLink }}">{{'pages.securityCodeEnteredExceeded.info.link' | translate}}</a>
                {{'pages.securityCodeEnteredExceeded.info.paragraph2End' | translate}}
            </p>
        {% endif %}
    {% endif %}

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: taxonomyLevel1, taxonomyLevel2: taxonomyLevel2, contentId: contentId, loggedInStatus: false, dynamic: true })}}
{% endblock %}
