{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if serviceType === 'OPTIONAL'  %}
  {% set pageTitleVariableName = 'pages.signInOrCreate.optional.title' %}
{% endif %}
{% if serviceType === 'MANDATORY'  %}
  {% set pageTitleVariableName = 'pages.signInOrCreate.mandatory.title' %}
{% endif %}

{% set pageTitleName = pageTitleVariableName | translate %}

{% set moreAboutTextHtml %}
  <p class="govuk-body">{{'pages.signInOrCreate.moreAbout.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.signInOrCreate.moreAbout.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.signInOrCreate.moreAbout.paragraph3' | translate}}</p>
{% endset %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

{% if serviceType === 'OPTIONAL' %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.signInOrCreate.optional.header' | translate}}</h1>
{% else %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.signInOrCreate.mandatory.header' | translate}}</h1>
{% endif %}

  <p class="govuk-body">{{ 'pages.signInOrCreate.paragraph' | translate }}</p>

  {{ govukButton({
    "text": 'pages.signInOrCreate.createButtonText' | translate,
    "href": "/enter-email?type=create-account"
  }) }}

  <p class="govuk-body">{{ 'pages.signInOrCreate.paragraph2' | translate }} <a href="/enter-email?type=sign-in">{{ 'pages.signInOrCreate.signInText' | translate }}.</a> </p>
{{ govukDetails({
  summaryText: 'pages.signInOrCreate.moreAbout.header' | translate,
  html: moreAboutTextHtml
}) }}


{% endblock %}


