{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleName = 'pages.signInOrCreate.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.signInOrCreate.header' | translate}}</h1>

<p class="govuk-body">{{'pages.signInOrCreate.paragraph1' | translate}}</p>

{{ govukInsetText({
    text: 'pages.signInOrCreate.paragraph2' | translate
}) }}

{% set moreAboutTextHtml %}
<p class="govuk-body">{{'pages.signInOrCreate.moreAbout.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.signInOrCreate.moreAbout.paragraph2' | translate}}</p>
<p class="govuk-body">{{'pages.signInOrCreate.moreAbout.paragraph3' | translate}}</p>
{% endset %}

{{ govukDetails({
  summaryText: 'pages.signInOrCreate.moreAbout.header' | translate,
  html: moreAboutTextHtml
}) }}

<form action="/sign-in-or-create" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukRadios({
  idPrefix: "sign-in-or-create",
  name: "createAccount",
  attributes: {
    "id": "radio-sign-in-or-create-existing-account"
  },
  items: [
    {
      text: 'pages.signInOrCreate.existingAccountRadios.createAccountText' | translate,
      hint: {
        text: 'pages.signInOrCreate.existingAccountRadios.createAccountHintText' | translate
      },
      id: "create-account-true",
      value: "true"
    },
    {
      text: 'pages.signInOrCreate.existingAccountRadios.signInText' | translate,
      id: "create-account-false",
      value: "false"
    }
  ],
  errorMessage: {
  text: errors['createAccount'].text
  } if (errors['createAccount'])
}) }}

{{ govukButton({
  "text": 'pages.signInOrCreate.continueButtonText' | translate,
  "type": "Submit",
  "preventDoubleClick": true
}) }}

</form>

{% endblock %}


