{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleVariableName = 'pages.signInOrCreate.mandatory.title' %}

{% set pageTitleName = pageTitleVariableName | translate %}

{% set moreAboutTextHtml %}
    <p class="govuk-body">{{ 'pages.signInOrCreate.moreAbout.paragraph1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.signInOrCreate.moreAbout.paragraph2' | translate }}</p>
    <p class="govuk-body">{{ 'pages.signInOrCreate.moreAbout.paragraph3' | translate }}</p>
{% endset %}

{% block content %}
    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'pages.signInOrCreate.mandatory.header' | translate | striptags | safe }} </h1>

    <p class="govuk-body">{{ 'pages.signInOrCreate.paragraph1' | translate }}</p>

    <p class="govuk-body">{{ 'pages.signInOrCreate.paragraph2' | translate }}</p>

    <p class="govuk-body">{{ 'pages.signInOrCreate.paragraph3' | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.signInOrCreate.bullet1' | translate }}</li>
          <li>{{ 'pages.signInOrCreate.bullet2' | translate }}</li>
    </ul>
    {% set altLangInsetHtml %}
        {{ 'pages.signInOrCreate.insetAlternativeLanguage.paragraph1' | translate }}
        <a href="{{ 'pages.signInOrCreate.insetAlternativeLanguage.linkHref' | translate }}" class="govuk-link" rel="noreferrer">
            {{ 'pages.signInOrCreate.insetAlternativeLanguage.linkText.inPageLanguage' | translate }}
            <span lang="{{ 'pages.signInOrCreate.insetAlternativeLanguage.linkText.destinationLanguageCode' | translate }}">{{ 'pages.signInOrCreate.insetAlternativeLanguage.linkText.inDestinationLanguage' | translate }}</span></a>.
    {% endset %}
    {{ govukInsetText({
        html: altLangInsetHtml
    }) }}

    <form action="/sign-in-or-create" method="post" novalidate="novalidate">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="supportInternationalNumbers" value="{{ supportInternationalNumbers }}" />

        {{ govukButton({
            text: 'pages.signInOrCreate.createButtonText' | translate,
            value: "create",
            name: "optionSelected",
            classes: "govuk-!-margin-right-3",
            attributes: {
                "id": "create-account-link",
                "data-nav":"true",
                "data-link": "/enter-email-create"
            }
        }) }}
        <div>
            {{ govukButton({
                text: 'pages.signInOrCreate.signInText' | translate,
                classes: "govuk-button--secondary",
                attributes: {
                    "id": "sign-in-button",
                    "data-nav": "true",
                    "data-link": "/enter-email"
                }
            }) }}
        </div>

    </form>

    <p class="govuk-body">
        <a href="{{ 'pages.signInOrCreate.aboutLink' | translate }}" class="govuk-link" rel="noreferrer noopener" target="_blank">
            {{ 'pages.signInOrCreate.aboutLinkText' | translate }}
        </a>
    </p>

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: "Home", contentId: "9cd55996-3f12-4e79-adf3-0ec3c4faf7ce", loggedInStatus: false, dynamic: true })}}
{% endblock %}
