<script {% if params.nonce%} nonce='{{ params.nonce }}'{%  endif %}>
    window.addEventListener('load', function () {
        window
            .DI
            .analyticsGa4
            .pageViewTracker
            .trackOnPageLoad({
                statusCode: '{{params.statusCode}}', // Access status code
                englishPageTitle: '{{params.englishPageTitle}}',
                taxonomy_level1: '{{params.taxonomyLevel1}}', // Access taxonomy level 1
                taxonomy_level2: '{{params.taxonomyLevel2}}', // Access taxonomy level 2
                content_id: '{{params.contentId}}',
                logged_in_status: {{params.loggedInStatus}},
                dynamic: {{params.dynamic}}
            });
    });
</script>