platform: linux
image_resource:
  type: registry-image
  source:
    repository: hashicorp/terraform
    tag: 1.0.4
    username: ((docker-hub-username))
    password: ((docker-hub-password))
params:
  DEPLOYER_ROLE_ARN: ((deployer-role-arn-non-prod))
  STATE_BUCKET: digital-identity-dev-tfstate
  DEPLOY_ENVIRONMENT: build
  DNS_DEPLOYER_ROLE_ARN: ((deployer-role-arn-production))
  DNS_STATE_BUCKET: ((dns-state-bucket))
  DNS_STATE_KEY: ((dns-state-key))
  GTM_ID: ((build-gtm-id))
  SESSION_EXPIRY: ((build-session-expiry))
  LOGGING_ENDPOINT_ARN: "arn:aws:logs:eu-west-2:885513274347:destination:csls_cw_logs_destination_prod"
  LOGGING_ENDPOINT_ENABLED: "true"
  ZENDESK_USERNAME: ((build-zendesk-username))
  ZENDESK_API_TOKEN: ((build-zendesk-api-token))
  ZENDESK_GROUP_ID_PUBLIC: ((build-zendesk-group-id-public))
  BASIC_AUTH_USERNAME: ((no-basic-auth-username))
  BASIC_AUTH_PASSWORD: ((no-basic-auth-password))
  SUPPORT_INTERNATIONAL_NUMBERS: "0"
  INCOMING_TRAFFIC_CIDR_BLOCKS: '["0.0.0.0/0"]'
  BASIC_AUTH_BYPASS_CIDR_BLOCKS: '[]'
inputs:
  - name: frontend-src
  - name: frontend-image
  - name: basic-auth-sidecar-image
outputs:
  - name: terraform-outputs
run:
  path: /bin/sh
  args:
    - -euc
    - |
      export IMAGE_URI=$(cat frontend-image/repository)
      export IMAGE_TAG=$(cat frontend-image/tag)
      export IMAGE_DIGEST=$(cat frontend-image/digest)
      
      export SIDECAR_IMAGE_URI=$(cat basic-auth-sidecar-image/repository)
      export SIDECAR_IMAGE_TAG=$(cat basic-auth-sidecar-image/tag)
      export SIDECAR_IMAGE_DIGEST=$(cat basic-auth-sidecar-image/digest)
      
      NORMALISED_BASIC_AUTH_USERNAME="${BASIC_AUTH_USERNAME}"
      NORMALISED_BASIC_AUTH_PASSWORD="${BASIC_AUTH_PASSWORD}"
      
      if [ ${NORMALISED_BASIC_AUTH_PASSWORD} == "none" ]; then
        NORMALISED_BASIC_AUTH_USERNAME=""
        NORMALISED_BASIC_AUTH_PASSWORD=""
      fi
      
      cd "frontend-src/ci/terraform/"
      terraform init -input=false \
        -backend-config "role_arn=${DEPLOYER_ROLE_ARN}" \
        -backend-config "bucket=${STATE_BUCKET}" \
        -backend-config "key=frontend-${DEPLOY_ENVIRONMENT}-terraform.tfstate" \
        -backend-config "encrypt=true" \
        -backend-config "region=eu-west-2"

      terraform apply -auto-approve \
        -var "deployer_role_arn=${DEPLOYER_ROLE_ARN}" \
        -var "common_state_bucket=${STATE_BUCKET}" \
        -var "dns_state_bucket=${DNS_STATE_BUCKET}" \
        -var "dns_state_key=${DNS_STATE_KEY}" \
        -var "dns_state_role=${DNS_DEPLOYER_ROLE_ARN}" \
        -var "session_expiry=${SESSION_EXPIRY}" \
        -var "logging_endpoint_arn=${LOGGING_ENDPOINT_ARN}" \
        -var "logging_endpoint_enabled=${LOGGING_ENDPOINT_ENABLED}" \
        -var "zendesk_username=${ZENDESK_USERNAME}" \
        -var "zendesk_group_id_public=${ZENDESK_GROUP_ID_PUBLIC}" \
        -var "zendesk_api_token=${ZENDESK_API_TOKEN}" \
        -var "gtm_id=${GTM_ID}" \
        -var "session_expiry=${SESSION_EXPIRY}" \
        -var "image_uri=${IMAGE_URI}" \
        -var "image_tag=${IMAGE_TAG}" \
        -var "image_digest=${IMAGE_DIGEST}" \
        -var "sidecar_image_uri=${SIDECAR_IMAGE_URI}" \
        -var "sidecar_image_tag=${SIDECAR_IMAGE_TAG}" \
        -var "sidecar_image_digest=${SIDECAR_IMAGE_DIGEST}" \
        -var "support_international_numbers=${SUPPORT_INTERNATIONAL_NUMBERS}" \
        -var "basic_auth_username=${NORMALISED_BASIC_AUTH_USERNAME}" \
        -var "basic_auth_password=${NORMALISED_BASIC_AUTH_PASSWORD}" \
        -var "incoming_traffic_cidr_blocks=${INCOMING_TRAFFIC_CIDR_BLOCKS}" \
        -var "basic_auth_bypass_cidr_blocks=${BASIC_AUTH_BYPASS_CIDR_BLOCKS}" \
        -var-file ${DEPLOY_ENVIRONMENT}.tfvars \

      terraform output --json > ../../../terraform-outputs/${DEPLOY_ENVIRONMENT}-terraform-outputs.json
