{% macro displaySecretKey(secretKeyFragmentArray, classes="govuk-!-font-weight-bold govuk-!-display-inline-block secret-key-fragment") %}
    {% for item in secretKeyFragmentArray %}<span class="{{ classes }}">{{ item }}</span>{% endfor %}
{% endmacro %}
