{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'pages.proveIdentityCheck.title' | translate | replace("[serviceName]", serviceName) %}

{% block headMetaData %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.proveIdentityCheck.header' | translate | replace("[serviceName]", serviceName) }}</h1>
    <div class="ccms-loader centre"></div>
    <p class="govuk-body text-centre">{{'pages.proveIdentityCheck.paragraph1' | translate}}</p>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
