{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'error.proveIdentityCallbackSessionExpiryError.title' | translate %}

{% block content %}

    <h1 class="govuk-heading-l">{{ 'error.proveIdentityCallbackSessionExpiryError.header' | translate }}</h1>
    <p class="govuk-body">{{ 'error.proveIdentityCallbackSessionExpiryError.content.paragraph' | translate }}</p>
    <p class="govuk-heading-m">{{ 'error.proveIdentityCallbackSessionExpiryError.content.section1.header' | translate }}</p>
    <p class="govuk-body">{{ 'error.proveIdentityCallbackSessionExpiryError.content.section1.paragraph1' | translate }}</p>
    <p class="govuk-body">{{ 'error.proveIdentityCallbackSessionExpiryError.content.section1.paragraph2' | translate }}</p>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
