{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% set pageTitleName = 'pages.createPassword.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'pages.createPassword.header' | translate }}</h1>

    <form action="/create-password" method="post" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukPasswordInput({
            label: {
                text: "pages.createPassword.password.label" | translate
            },
            hint: {
                text: "pages.createPassword.password.hintText" | translate
            },
            id: "password",
            name: "password",
            autocomplete: "new-password",
            showPasswordText: "general.showPassword.show" | translate,
            hidePasswordText: "general.showPassword.hide" | translate,
            showPasswordAriaLabelText: "general.showPassword.showFullText" | translate,
            hidePasswordAriaLabelText: "general.showPassword.hideFullText" | translate,
            passwordShownAnnouncementText: "general.showPassword.announceShown" | translate,
            passwordHiddenAnnouncementText: "general.showPassword.announceHidden" | translate,
            errorMessage: {
                text: errors["password"].text
            } if (errors["password"])
        }) }}

        {{ govukPasswordInput({
            label: {
                text: "pages.createPassword.confirmPassword.label" | translate
            },
            id: "confirm-password",
            name: "confirm-password",
            autocomplete: "new-password",
            showPasswordText: "general.showPassword.show" | translate,
            hidePasswordText: "general.showPassword.hide" | translate,
            showPasswordAriaLabelText: "general.showPassword.showFullText" | translate,
            hidePasswordAriaLabelText: "general.showPassword.hideFullText" | translate,
            passwordShownAnnouncementText: "general.showPassword.announceShown" | translate,
            passwordHiddenAnnouncementText: "general.showPassword.announceHidden" | translate,
            errorMessage: {
                text: errors["confirm-password"].text
            } if (errors["confirm-password"])
        }) }}

        {% include "common/password-guidance/_password-guidance-details.njk" %}

        {{ govukButton({
            "text": "general.continue.label" | translate,
            "type": "Submit",
            "preventDoubleClick": true
        }) }}

    </form>

    {{ ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: "create account", contentId: "8c0cc624-2e97-471d-ad36-6b695f9a038d", loggedInStatus: false, dynamic: false }) }}
{% endblock %}
