{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/show-password/macro.njk" import govukInputWithShowPassword %}

{% set pageTitleName = 'pages.createPassword.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.createPassword.header' | translate}}</h1>

<form action="/create-password" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <p class="govuk-body">{{'pages.createPassword.password.paragraph1' | translate}}</p>
    <ul class="govuk-list govuk-list--bullet">
     <li>{{ 'pages.createPassword.password.bulletPoint1' | translate}}</li>
     <li>{{ 'pages.createPassword.password.bulletPoint2' | translate}}</li>
    </ul>

     <p class="govuk-body">{{'pages.createPassword.password.paragraph2' | translate}}</p>

    {{ govukInputWithShowPassword('pages.createPassword.password.label'  | translate, "password", errors ) }}
    {{ govukInputWithShowPassword('pages.createPassword.confirmPassword.label' | translate, "confirm-password", errors) }}

{{ govukDetails({
  summaryText: 'pages.createPassword.securePasswordDetails.summary' | translate,
  text: 'pages.createPassword.securePasswordDetails.text' | translate
}) }}

<h2 class="govuk-heading-s">{{'pages.createPassword.termsOfUse.heading' | translate}}</h2>

<p class="govuk-body">{{'pages.createPassword.termsOfUse.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.createPassword.termsOfUse.paragraph2' | translate | replace("#PRIVACY_NOTICE_LINK", '<a class="govuk-link" href="/privacy-notice" rel="noreferrer noopener" target="_blank">privacy notice</a>') | safe }}</p>

{{ govukButton({
    "text": button_text|default("Continue", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
{% endblock %}

