{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.proveIdentityWelcome.title' | translate %}

{% block content %}

    <h1 class="govuk-heading-l">{{ 'pages.proveIdentityWelcome.header' | translate }}</h1>


    <p class="govuk-body">{{ 'pages.proveIdentityWelcome.section2.paragraph1' | translate }}</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.proveIdentityWelcome.section2.listItem1_1' | translate }}</li>
        <li>{{ 'pages.proveIdentityWelcome.section2.listItem1_2' | translate }}</li>
        <li>{{ 'pages.proveIdentityWelcome.section2.listItem1_3' | translate }}</li>
    </ul>

    {% set insetTextInnerHtml %}
        {{ 'pages.proveIdentityWelcome.section1.insetAlternativeLanguage.start' | translate }}
        <a href="{{ 'pages.proveIdentityWelcome.section1.insetAlternativeLanguage.linkHref' | translate }}"
           class="govuk-link"
           rel="noreferrer">{{ 'pages.proveIdentityWelcome.section1.insetAlternativeLanguage.linkText.inPageLanguage' | translate }}
            <span lang="{{ 'pages.proveIdentityWelcome.section1.insetAlternativeLanguage.linkText.destinationLanguageCode' | translate }}">{{ 'pages.proveIdentityWelcome.section1.insetAlternativeLanguage.linkText.inDestinationLanguage' | translate }}</span></a>.
            {{ 'pages.proveIdentityWelcome.section1.insetAlternativeLanguage.end' | translate }}

    {% endset %}

    {{ govukInsetText({
        html: insetTextInnerHtml
    }) }}

    <form id="form-tracking" action="/prove-identity-welcome" method="post" novalidate="novalidate">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
            "text": "general.continue.label" | translate,
            "type": "Submit",
            "preventDoubleClick": true,
            attributes: {
                "data-nav": "true",
                "data-link": "/undefined"
            }
        }) }}

    </form>
{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: taxonomyLevel1, taxonomyLevel2: taxonomyLevel2, contentId: "", loggedInStatus: false, dynamic: false })}}

{% endblock %}
