{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set showBack = false %}
{% set pageTitleName = 'pages.reEnterEmailAccount.title' | translate %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form action="/enter-email" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="isStrategicAppReauth" value="{{isStrategicAppReauth}}"/>

    <h1 class="govuk-heading-l">
        {{ 'pages.reEnterEmailAccount.header' | translate }}
    </h1>

    {% if isStrategicAppReauth %}
        <p class="govuk-body">{{'mobileAppPages.reEnterEmailAccount.paragraph1' | translate}}</p>
    {% else %}
        <p class="govuk-body">{{'pages.reEnterEmailAccount.paragraph1' | translate}}</p>
    {% endif %}

    {{ govukInput({
         label: {
                text: 'pages.reEnterEmailAccount.enterYourEmailAddress' | translate
            },
        id: "email",
        name: "email",
        value: email,
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: {
            text: errors['email'].text
        } if (errors['email'])})
    }}

    {{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
