{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set showBack = false %}
{% set pageTitleName = 'pages.enteredWrongEmail.title' | translate %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form action="/enter-email" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <h1 class="govuk-heading-l">
        {{ 'pages.enteredWrongEmail.heading' | translate }}
    </h1>

    <p class="govuk-body">{{'pages.enteredWrongEmail.paragraph1' | translate}}</p>
    <p class="govuk-heading-m">{{ 'pages.enteredWrongEmail.subheading' | translate }}</p>
    <p class="govuk-body">{{'pages.enteredWrongEmail.paragraph2' | translate}}</p>

</form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, contentId: "", loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
