{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set showBack = true %}
{% set hrefBack = 'sign-in-or-create' %}
{% set pageTitleName = 'pages.enterEmailExistingAccount.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form action="/enter-email" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukInput({
     label: {
            text: 'pages.enterEmailExistingAccount.header' | translate,
            classes: "govuk-label--l",
            isPageHeading: true
        },
    id: "email",
    name: "email",
    value: email,
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    errorMessage: {
        text: errors['email'].text
    } if (errors['email'])})
}}

{{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
