{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set showBack = true %}
{% set hrefBack = 'sign-in-or-create' %}
{% set pageTitleName = 'pages.enterEmailCreateAccount.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form action="/enter-email-create" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukInput({
      label: {
        text: 'pages.enterEmailCreateAccount.header' | translate,
        classes: "govuk-label--l",
        isPageHeading: true
      },
    id: "email",
    name: "email",
    value: email,
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    errorMessage: {
        text: errors['email'].text
    } if (errors['email'])})
}}

<h1 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.createPassword.termsAndConditions.header' | translate}}</h1>

<p class="govuk-body">
    {{ 'pages.createPassword.termsAndConditions.paragraph1.text1' | translate }}<a {% if not isApp %}target="_blank" rel="noopener noreferrer"{% endif %} href="{{ 'pages.createPassword.termsAndConditions.paragraph1.termsAndConditionsHref' | translate }}" class="govuk-link">{% if isApp %}{{ 'pages.createPassword.termsAndConditions.paragraph1.termsAndConditionsTextApp' | translate }}{% else %}{{ 'pages.createPassword.termsAndConditions.paragraph1.termsAndConditionsText' | translate }}{% endif %}</a>{{ 'pages.createPassword.termsAndConditions.paragraph1.text2' | translate }}
</p>

<p class="govuk-body">
    {{ 'pages.createPassword.termsAndConditions.paragraph2.text1' | translate }}<a {% if not isApp %}target="_blank" rel="noopener noreferrer"{% endif %} href="{{ 'pages.createPassword.termsAndConditions.paragraph2.privacyNoticeHref' | translate }}" class="govuk-link">{% if isApp %}{{ 'pages.createPassword.termsAndConditions.paragraph2.privacyNoticeTextApp' | translate }}{% else %}{{ 'pages.createPassword.termsAndConditions.paragraph2.privacyNoticeText' | translate }}{% endif %}</a>{{ 'pages.createPassword.termsAndConditions.paragraph2.text2' | translate }}
</p>

{{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
