{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'pages.verifyEmail.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.verifyEmail.header' | translate}}</h1>

{{ govukInsetText({
    html: 'pages.verifyEmail.text' | translate + '<span class="govuk-body govuk-!-font-weight-bold">' + email + '</span>'
  }) }}

<p class="govuk-body">{{'pages.verifyEmail.info.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.verifyEmail.info.paragraph2' | translate}}</p>
<p class="govuk-body">{{'pages.verifyEmail.info.paragraph3Start' | translate }}
    <a href="/enter-email" class="govuk-link" rel="noreferrer noopener" target="_blank">{{'pages.verifyEmail.info.enterEmailLink' | translate }}</a>
    {{'pages.verifyEmail.info.paragraph3End' | translate }}
</p>

<form action="/check-your-email" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="email" value="{{email}}"/>
{{ govukInput({
    label: {
        text: 'pages.verifyEmail.code.label' | translate,
        classes: "govuk-label--s"
    },
    id: "code",
    name: "code",
    value: code,
    errorMessage: {
        text: errors['code'].text
    } if (errors['code'])})
}}

{{ govukButton({
    "text": button_text|default("Continue", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% endblock %}


