{% from "govuk/macros/logo.njk" import govukLogo -%}

<header class="govuk-header {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <span class="govuk-header__link govuk-header__link--homepage strategic-app-header">
        {{ govukLogo({
          classes: "govuk-header__logotype",
          ariaLabelText: "GOV.UK",
          useTudorCrown: params.useTudorCrown,
          rebrand: govukRebrand
        }) | trim | indent(8) }}
      </span>
    </div>
  </div>
</header>
