{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitleName = 'pages.contactUsSubmitSuccess.title' | translate %}

{% block content %}

{% set html %}
<p class="govuk-body">{{ 'pages.cookiePolicy.successBanner.paragraph1' | translate }}</p>
<a class="govuk-notification-banner__link" id="go-back-link" href="#">{{ 'pages.cookiePolicy.successBanner.linkText' | translate }}</a>
{% endset %}

{{ govukPanel({
    titleText: 'pages.contactUsSubmitSuccess.header' | translate
}) }}

<p class="govuk-body">{{'pages.contactUsSubmitSuccess.paragraph1' | translate }}</p>

<p class="govuk-body">{{'pages.contactUsSubmitSuccess.paragraph2' | translate }}</p>

<p class="govuk-body">
    <a href="{{'pages.contactUsSubmitSuccess.paragraph3.linkHref' | translate }}" class="govuk-link">
        {{'pages.contactUsSubmitSuccess.paragraph3.linkText' | translate }}
    </a>
</p>

{% set isPageDataSensitive = false %}
{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic:false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
