{% extends "contact-us/common-english-only/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set showBack = true %}
{% set hrefBack = 'support' %}
{% set pageTitleName = 'pages.contactUsGov.title' | translateEnOnly  %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsGov.header' | translateEnOnly  }}
</h1>

<p class="govuk-body">{{'pages.contactUsGov.paragraph1' | translateEnOnly  }}</p>
<ul class="govuk-list govuk-list--bullet">
 <li>
    <a href="{{'pages.contactUsGov.bulletPoint1.linkHref' | translateEnOnly }}" class="govuk-link" rel="noreferrer noopener" target="_blank">
        {{'pages.contactUsGov.bulletPoint1.linkText' | translateEnOnly }}
    </a>
    {{ 'pages.contactUsGov.bulletPoint1.text' | translateEnOnly }}</li>
 <li>
    <a href="{{'pages.contactUsGov.bulletPoint2.linkHref' | translateEnOnly }}" class="govuk-link" rel="noreferrer noopener" target="_blank">
        {{'pages.contactUsGov.bulletPoint2.linkText' | translateEnOnly }}
    </a>
    {{ 'pages.contactUsGov.bulletPoint2.text' | translateEnOnly }}</li>
 </li>
</ul>

<p class="govuk-body">
    {{'pages.contactUsGov.paragraph2.text' | translateEnOnly  }}
    <a href="{{'pages.contactUsGov.paragraph2.linkHref' | translateEnOnly }}" class="govuk-link" rel="noreferrer noopener" target="_blank">
        {{'pages.contactUsGov.paragraph2.linkText' | translateEnOnly }}
    </a>
</p>

{% endblock %}
