{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set showBack = true %}
{% set pageTitleName = 'pages.contactUsPublic.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

{% set html %}
<p class="govuk-body">{{ 'pages.cookiePolicy.successBanner.paragraph1' | translate }}</p>
<a class="govuk-notification-banner__link" id="go-back-link" href="#">{{ 'pages.cookiePolicy.successBanner.linkText' | translate }}</a>
{% endset %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsPublic.header' | translate }}
</h1>

<p class="govuk-body">{{'pages.contactUsPublic.section1.paragraph1' | translate }}</p>
<ul class="govuk-list govuk-list--bullet">
 <li>{{ 'pages.contactUsPublic.section1.bulletPoint1' | translate }}</li>
 <li>{{ 'pages.contactUsPublic.section1.bulletPoint2' | translate }}</li>
</ul>

<p class="govuk-body">{{'pages.contactUsPublic.section1.paragraph2' | translate }}</p>

<form action="/contact-us" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="referer" value="{{referer}}"/>
<input type="hidden" name="fromURL" value="{{fromURL}}"/>
    {% if appSessionId %}
        <input type="hidden" name="appSessionId" value="{{appSessionId}}"/>
    {% endif %}

    {% set items = [
        {
            value: "account_creation",
            text: 'pages.contactUsPublic.section3.accountCreation' | translate
        },
        {
            value: "signing_in",
            text: 'pages.contactUsPublic.section3.signingIn' | translate
        },
        {
            value: "id_check_app",
            text: 'pages.contactUsPublic.section3.idCheckApp' | translate
        },
        {
            value: "id_face_to_face",
            text: 'pages.contactUsPublic.section3.provingIdentityFaceToFace' | translate
        },
        {
            value: "proving_identity",
            text: 'pages.contactUsPublic.section3.provingIdentity' | translate
        },
        {
            value: "suspect_unauthorised_access",
            text: 'pages.contactUsPublic.section3.suspectUnauthorisedAccess' | translate
        },
        {
            value: "something_else",
            text: 'pages.contactUsPublic.section3.somethingElse' | translate
        },
        {
            divider: "general.or" | translate | lower
        },
        {
            value: "suggestions_feedback",
            text: 'pages.contactUsPublic.section3.suggestionsFeedback' | translate
        }
    ] %}

    {{ govukRadios({
        name: "theme",
        fieldset: {
            legend: {
                text: 'pages.contactUsPublic.section3.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: items,
          errorMessage: {
          text: errors['theme'].text
          } if (errors['theme'])
    }) }}


{{ govukButton({
    "text": "pages.contactUsPublic.continueLabel" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
