{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.checkYourPhone.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.checkYourPhone.header' | translate }}</h1>

    {% set insetText %}
        {{ 'pages.checkYourPhone.info.paragraph1' | translate }} <span class='govuk-!-font-weight-bold'>{{ phoneNumber }}</span>
    {% endset %}

    {{ govukInsetText({
        text: insetText | safe
    }) }}

    <p class="govuk-body">{{'pages.checkYourPhone.info.paragraph2' | translate }}</p>

    <form action="/reset-password-2fa-sms" method="post" novalidate="novalidate">

        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <input type="hidden" name="phoneNumber" value="{{phoneNumber}}"/>

        {{ govukInput({
            label: {
                text: 'pages.checkYourPhone.code.label' | translate
            },
            classes: "govuk-input--width-10 govuk-!-font-weight-bold",
            id: "sms-otp-code",
            name: "sms-otp-code",
            inputmode: "numeric",
            spellcheck: false,
            autocomplete:"one-time-code",
            errorMessage: {
                text: errors['sms-otp-code'].text
            } if (errors['sms-otp-code'])})
        }}

        {% set detailsHTML %}
            <p class="govuk-body">
                {{'pages.passwordResetMfaSms.details.text1' | translate}}
                <a href="{{resendCodeLink}}" class="govuk-link" rel="noreferrer noopener">{{'pages.passwordResetMfaSms.details.sendCodeLinkText'| translate}}</a>
                {{'pages.passwordResetMfaSms.details.text 2' | translate}}
            </p>
            {% if hasMultipleMfaMethods %}
                <p class="govuk-body">
                    {{ 'pages.passwordResetMfaSms.details.chooseMfaMethodText' | translate }}
                    <a href="{{ chooseMfaMethodHref }}" class="govuk-link"
                        rel="noreferrer noopener">{{ 'pages.passwordResetMfaSms.details.chooseMfaMethodLinkText'| translate }}</a>.
                </p>
            {% endif %}
        {% endset %}

        {{ govukButton({
            "text": "general.continue.label" | translate,
            "type": "Submit",
            "preventDoubleClick": true
        }) }}

        {{ govukDetails({
            summaryText: 'pages.checkYourPhone.details.summaryText' | translate,
            html: detailsHTML
        }) }}

    </form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
