<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsFurtherInformation.accountCreation.header' | translate }}
</h1>

<form action="/contact-us-further-information" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="referer" value="{{referer}}"/>

        {% set items = [
                {
                    value: "no_uk_mobile_number",
                    text: 'pages.contactUsFurtherInformation.accountCreation.section1.radio3' | translate
                },
                {
                    value: "no_security_code",
                    text: 'pages.contactUsFurtherInformation.accountCreation.section1.radio1' | translate
                },
                {
                    value: "invalid_security_code",
                    text: 'pages.contactUsFurtherInformation.accountCreation.section1.radio2' | translate
                },
                {
                    value: "authenticator_app_problem",
                    text: 'pages.contactUsFurtherInformation.accountCreation.section1.radio6' | translate
                },
                {
                    value: "technical_error",
                    text: 'pages.contactUsFurtherInformation.accountCreation.section1.radio4' | translate
                },
                {
                    value: "something_else",
                    text: 'pages.contactUsFurtherInformation.accountCreation.section1.radio5' | translate
                }
            ]
        %}

    {{ govukRadios({
        idPrefix: "account-creation",
        name: "subtheme",
        fieldset: {
            legend: {
                text: 'pages.contactUsFurtherInformation.accountCreation.section1.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: items,
      errorMessage: {
      text: errors['subtheme'].text
      } if (errors['subtheme'])
    }) }}


{{ govukButton({
    "text": button_text|default('general.continue.label' | translate, true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>



