<form action="/contact-us-further-information" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="referer" value="{{referer}}"/>
<input type="hidden" name="fromURL" value="{{fromURL}}"/>
{% include 'contact-us/questions/_id-check-app-hidden-fields.njk' %}
        <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
            {{ 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.header' | translate }}
        </h1>
        {% set items = [
                {
                    value: "id_check_app_linking_problem",
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.idCheckAppLinkingProblem' | translate
                },
                {
                    value: "one_login_app_sign_in_problem",
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.oneLoginAppSignInProblem' | translate
                },
                {
                    value: "taking_photo_of_id_problem",
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.photoProblem' | translate
                },
                {
                    value: "face_scanning_problem",
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.faceScanningProblem' | translate
                },
                {
                    value: "gov_uk_login_and_id_apps_technical_problem",
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.technicalError' | translate
                },
                {
                    value: "gov_uk_login_and_id_apps_something_else",
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.somethingElse' | translate
                }
            ]
        %}

        {{ govukRadios({
            name: "subtheme",
            fieldset: {
                legend: {
                    text: 'pages.contactUsFurtherInformation.govUKLoginAndIdApps.section1.header' | translate,
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: items,
        errorMessage: {
        text: errors['subtheme'].text
        } if (errors['subtheme'])
        }) }}

{{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>
