<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{ "pages.contactUsFurtherInformation.provingIdentityFaceToFace.header" | translate }}
</h1>

<form action="/contact-us-further-information" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="theme" value="{{theme}}"/>
    <input type="hidden" name="referer" value="{{referer}}"/>
    <input type="hidden" name="fromURL" value="{{fromURL}}"/>

    {% include "contact-us/questions/_id-check-app-hidden-fields.njk" %}

    {{ govukRadios({
        name: "subtheme",
        fieldset: {
            legend: {
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.header" | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "face_to_face_details",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.problemEnteringDetails" | translate
            },
            {
                value: "face_to_face_letter",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.problemPostOfficeLetter" | translate
            },
            {
                value: "face_to_face_post_office",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.problemAtPostOffice" | translate
            },
            {
                value: "face_to_face_post_office_id_results",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.problemFindingResult" | translate
            },
            {
                value: "face_to_face_post_office_service",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.problemContinuing" | translate
            },
            {
                value: "face_to_face_technical_problem",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.technicalProblem" | translate
            },
            {
                value: "face_to_face_something_else",
                text: "pages.contactUsFurtherInformation.provingIdentityFaceToFace.section1.anotherProblem" | translate
            }
        ],
        errorMessage: {
            text: errors["subtheme"].text
        } if (errors["subtheme"])
    }) }}


    {{ govukButton({
        "text": "general.continue.label" | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>
