<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsFurtherInformation.provingIdentity.header' | translate }}
</h1>

<form action="/contact-us-further-information" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="referer" value="{{referer}}"/>
<input type="hidden" name="fromURL" value="{{fromURL}}"/>

    {% include 'contact-us/questions/_id-check-app-hidden-fields.njk' %}

    {% set items = [
            {
                value: "proving_identity_problem_answering_security_questions",
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.answeringSecurityProblems' | translate
            },
            {
                value: "proving_identity_problem_with_identity_document",
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.problemWithPhotoId' | translate
            },
            {
                value: "proving_identity_need_to_update_personal_information",
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.problemUpdatingPersonalInformation' | translate
            },
            {
                value: "proving_identity_problem_with_address",
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.problemEnteringAddress' | translate
            },
            {
                value: "proving_identity_technical_problem",
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.technicalProblem' | translate
            },
            {
                value: "proving_identity_something_else",
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.somethingElse' | translate
            }
        ]
    %}

    {% if supportNoPhotoIdContactForms %}
    {% set no_photo_id_bank_item = {
            value: "proving_identity_problem_with_bank_building_society_details",
            text: 'pages.contactUsFurtherInformation.provingIdentity.section1.problemWithBankOrBuildingSociety' | translate
        }
    %}

    {% set no_photo_id_nin_item = {
            value: "proving_identity_problem_with_national_insurance_number",
            text: 'pages.contactUsFurtherInformation.provingIdentity.section1.problemWithNINumber.label' | translate,
            hint: {
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.problemWithNINumber.hint' | translate | safe
            }
        }
    %}
    {% set items = (items.splice(2, 0, no_photo_id_bank_item), items) %}
    {% set items = (items.splice(3, 0, no_photo_id_nin_item), items) %}
    {% endif %}

    {{ govukRadios({
        name: "subtheme",
        fieldset: {
            legend: {
                text: 'pages.contactUsFurtherInformation.provingIdentity.section1.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: items,
          errorMessage: {
          text: errors['subtheme'].text
          } if (errors['subtheme'])
    }) }}


{{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>
