<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsFurtherInformation.signingIn.header' | translate }}
</h1>

<form action="/contact-us-further-information" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="referer" value="{{referer}}"/>
<input type="hidden" name="fromURL" value="{{fromURL}}"/>
<input type="hidden" name="supportMfaResetWithIpv" value="{{supportMfaResetWithIpv}}"/>

    {% include 'contact-us/questions/_id-check-app-hidden-fields.njk' %}

    {% if supportMfaResetWithIpv == "true" or supportMfaResetWithIpv == true %}
        {% set radio3 = {
            value: "lost_security_code_access",
            text: 'pages.contactUsFurtherInformation.signingIn.section1.radio3MfaReset' | translate,
            hint: { text: 'pages.contactUsFurtherInformation.signingIn.section1.radio3MfaResetHint' | translate }
        } %}
    {% else %}
        {% set radio3 = {
            value: "no_phone_number_access",
            text: 'pages.contactUsFurtherInformation.signingIn.section1.radio3' | translate
        } %}
    {% endif %}

    {{ govukRadios({
        name: "subtheme",
        fieldset: {
            legend: {
                text: 'pages.contactUsFurtherInformation.signingIn.section1.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "no_security_code",
                text: 'pages.contactUsFurtherInformation.signingIn.section1.radio1' | translate
            },
            {
                value: "invalid_security_code",
                text: 'pages.contactUsFurtherInformation.signingIn.section1.radio2' | translate
            },
            {
                value: "forgotten_password",
                text: 'pages.contactUsFurtherInformation.signingIn.section1.radio4' | translate
            },
            radio3,
            {
                value: "account_not_found",
                text: 'pages.contactUsFurtherInformation.signingIn.section1.radio5' | translate
            },
            {
                value: "technical_error",
                text: 'pages.contactUsFurtherInformation.signingIn.section1.radio6' | translate
            },
            {
                value: "something_else",
                text: 'pages.contactUsFurtherInformation.signingIn.section1.radio7' | translate
            }
        ],
          errorMessage: {
          text: errors['subtheme'].text
          } if (errors['subtheme'])
    }) }}


{{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>
