<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsFurtherInformation.wallet.header' | translate }}
</h1>

<form action="/contact-us-further-information" method="post" novalidate>

  <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
  <input type="hidden" name="theme" value="{{theme}}"/>
  <input type="hidden" name="referer" value="{{referer}}"/>
  <input type="hidden" name="fromURL" value="{{fromURL}}"/>

  {% include 'contact-us/questions/_id-check-app-hidden-fields.njk' %}

  {% set items = [
    {
      value: "wallet_problem_opening_app",
      text: 'pages.contactUsFurtherInformation.wallet.section1.radio1' | translate
    },
    {
      value: "wallet_problem_adding_credentials_document",
      text: 'pages.contactUsFurtherInformation.wallet.section1.radio2' | translate
    },
    {
      value: "wallet_problem_viewing_credentials_document",
      text: 'pages.contactUsFurtherInformation.wallet.section1.radio3' | translate
    },
    {
      value: "wallet_technical_problem",
      text: 'pages.contactUsFurtherInformation.wallet.section1.radio4' | translate
    },
    {
      value: "wallet_something_else",
      text: 'pages.contactUsFurtherInformation.wallet.section1.radio5' | translate
    }
  ]
  %}

  {{ govukRadios({
    name: "subtheme",
    fieldset: {
      legend: {
        text: 'pages.contactUsFurtherInformation.wallet.section1.header' | translate,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: items,
    errorMessage: {
      text: errors['subtheme'].text
    } if (errors['subtheme'])
  }) }}


  {{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
  }) }}

</form>
