{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set showBack = true %}

{% if theme == 'signing_in' %}
    {% set pageTitleName = 'pages.contactUsFurtherInformation.signingIn.title' | translate %}
{% endif %}

{% if theme == 'account_creation' %}
    {% set pageTitleName = 'pages.contactUsFurtherInformation.accountCreation.title' | translate %}
{% endif %}

{% if theme == 'id_check_app' %}
    {% set pageTitleName = 'pages.contactUsFurtherInformation.idCheckApp.title' | translate %}
{% endif %}

{% if theme == 'id_face_to_face' %}
    {% set pageTitleName = 'pages.contactUsFurtherInformation.provingIdentityFaceToFace.title' | translate %}
{% endif %}

{% if theme == 'proving_identity' %}
    {% set pageTitleName = 'pages.contactUsFurtherInformation.provingIdentity.title' | translate %}
{% endif %}

{% block content %}
{% include "common/errors/errorSummary.njk" %}

    {% if theme == 'signing_in' %}
        {% include 'contact-us/further-information/_signing-in-further-information.njk' %}
    {% endif %}

    {% if theme == 'account_creation' %}
        {% include 'contact-us/further-information/_account-creation-further-information.njk' %}
    {% endif %}

    {% if theme == 'id_check_app' %}
        {% include 'contact-us/further-information/_gov-uk-login-and-id-apps-further-information.njk' %}
    {% endif %}

    {% if theme == 'id_face_to_face' %}
        {% include 'contact-us/further-information/_proving-identity-post-office-further-information.njk' %}
    {% endif %}

    {% if theme == 'proving_identity' %}
        {% include 'contact-us/further-information/_proving-identity-further-information.njk' %}
    {% endif %}

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
