{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set showBack = true %}

{% set pageTitleName = title | translate %}

{% block content %}
{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{ header | translate }}
</h1>

<form action="/contact-us-further-information" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="theme" value="{{theme}}"/>
    <input type="hidden" name="referer" value="{{referer}}"/>
    <input type="hidden" name="fromURL" value="{{fromURL}}"/>

    {% include "contact-us/questions/_id-check-app-hidden-fields.njk" %}


    {% set items = [] %}
    {% for radio in radioButtons %}
        {% set _ = items.push({
            value: radio.value,
            text: radio.mainTextKey | translate,
            hint: {
                text: radio.hintTextKey | translate | safe
            }
        }) %}
    {% endfor %}

    {{ govukRadios({
        name: "subtheme",
        fieldset: {
            legend: {
                text: legend | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: items,
        errorMessage: {
            text: errors['subtheme'].text
        } if (errors['subtheme'])
    }) }}

    {{ govukButton({
        "text": "general.continue.label" | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
