{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

{% include "errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.enterPhoneNumber.header' | translate}}</h1>

<form action="/enter-password" method="post" novalidate>
<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukInput({
    label: {
        text: 'pages.enterPhoneNumber.phoneNumber.label' | translate
    },
    classes: "govuk-!-width-two-thirds",
    id: "phoneNumber",
    name: "phoneNumber",
    type: "tel",
    autocomplete: "tel",
    errorMessage: {
        text: errors['phoneNumber'].text
    } if (errors['phoneNumber'])})
}}


{{ govukButton({
    "text": button_text|default('general.continue.label' | translate, true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% endblock %}
