{% from "govuk/components/details/macro.njk" import govukDetails %}

  {% set detailsContent %}
      <p class="govuk-body">{{ 'general.passwordGuidanceDetails.threeRandomWordsParagraph' | translate }}</p>
      <p class="govuk-body">{{ 'general.passwordGuidanceDetails.uniqueParagraph' | translate }}</p>
  {% endset %}

{{ govukDetails({
    summaryText: 'general.passwordGuidanceDetails.summary' | translate,
    text: detailsContent | safe
}) }}
