/* Global styles */

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;
}

/* Header styles */

#header {
  position: relative;
  border-bottom: 3px solid black;
  background: white;
  z-index: 1;
}
#header-bar {
  display: flex;
  background: black;
  color: white;
  padding: 8px;
  align-items: center;
}
#header-bar h1 {
  flex: 0 0 auto;
  display: flex;
  gap: 8px;
}
#header-bar h1 a {
  text-decoration: none;
}
#header-bar a {
  flex: 1 1 auto;
  color: white;
  text-align: center;
}
#header-content {
  margin: 16px;
  overflow: hidden;
  max-height: 500px;
  transition:
    max-height 0.15s ease-out,
    margin 0.15s ease-out;
}
#header-content.hidden {
  max-height: 0;
  margin: 0;
}
#header-toggle {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100px;
  margin-left: -50px;

  background: white;
  border: 3px solid black;
  cursor: pointer;
}

/* Control panel styles */

form {
  flex: 0 1 525px;
  margin: 8px 0;
  display: flex;
  gap: 8px;
}
form button {
  width: 180px;
}
form label {
  display: flex;
  gap: 8px;
  margin: 2px 0;
}
form select {
  flex: 0 0 30%;
}
form input[type="checkbox"] {
  margin-left: 8px;
}
form fieldset {
  margin-top: 8px;
  padding: 8px;
}
form fieldset legend {
  font-weight: bold;
}
form fieldset p {
  color: #555;
  margin-bottom: 8px;
}
form textarea {
  font-family: monospace;
  width: 500px;
  height: 300px;
  margin-top: 16px;
}
form textarea.hidden {
  display: none;
}
#checkbox-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
#checkbox-controls fieldset {
  flex: 1 0 0;
}

/* Diagram styles */

#diagram {
  color-scheme: light dark;
  --diagram-bg: #ffffff;
  --diagram-stroke: #333333;

  @media (prefers-color-scheme: dark) {
    --diagram-bg: #282c34;
    --diagram-stroke: #818181;
  }
}

#diagram {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1 1 auto;
  user-select: none;
  background-color: var(--diagram-bg);
}
#diagram > * {
  height: 100%;
  width: 100%;
  max-width: unset !important;
}

#diagramSvg .flowchart-link {
  stroke: var(--diagram-stroke) !important;
}

#diagramSvg .marker {
  stroke: var(--diagram-stroke) !important;
  fill: var(--diagram-stroke) !important;
}

#diagramSvg .highlight.outgoingEdge {
  stroke-width: 3px;
  filter: drop-shadow(1px 0 0 #ffdd00) drop-shadow(-1px 0 0 #ffdd00)
    drop-shadow(0 1px 0 #ffdd00) drop-shadow(0 -1px 0 #ffdd00);
}
#diagramSvg .highlight.incomingEdge {
  stroke-width: 3px;
  filter: drop-shadow(1px 0 0 #66ddff) drop-shadow(-1px 0 0 #66ddff)
    drop-shadow(0 1px 0 #66ddff) drop-shadow(0 -1px 0 #66ddff);
}
#diagramSvg .highlight.node path {
  stroke-width: 3px;
}
