<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsQuestions.forgottenPassword.header' | translate }}
</h1>

<form action="/contact-us-questions" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="subtheme" value="{{subtheme}}"/>
<input type="hidden" name="backurl" value="{{backurl}}"/>
<input type="hidden" name="formType" value="forgottenPassword"/>
<input type="hidden" name="referer" value="{{referer}}"/>

{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.forgottenPassword.section1.header' | translate,
      classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.forgottenPassword.section1.paragraph1' | translate
      },
    id: "optionalDescription",
    name: "optionalDescription",
    value: optionalDescription,
    errorMessage: {
        text: errors['optionalDescription'].text
    } if (errors['optionalDescription'])
}) }}

{{ govukWarningText({
    text:'pages.contactUsQuestions.personalInformation.paragraph1' | translate,
    iconFallbackText: "Warning"
}) }}

{% include 'contact-us/questions/_reply_by_email.njk' %}

{{ govukButton({
    "text": button_text|default("Send message", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>