{% if appErrorCode %}
    <input type="hidden" name="appErrorCode" value="{{appErrorCode}}"/>
{% endif %}

{% if appSessionId %}
    <input type="hidden" name="appSessionId" value="{{appSessionId}}"/>
{% endif %}
