<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{ 'pages.contactUsQuestions.takingPhotoOfIdProblem.header' | translateEnOnly }}
</h1>

<form action="/contact-us-questions" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="theme" value="{{theme}}"/>
    <input type="hidden" name="subtheme" value="{{subtheme}}"/>
    <input type="hidden" name="backurl" value="{{backurl}}"/>
    <input type="hidden" name="formType" value="idCheckApp"/>
    <input type="hidden" name="referer" value="{{referer}}"/>

    {% include 'contact-us/questions/_what_happened.njk' %}

    {% include 'contact-us/questions/_service_trying_to_use.njk' %}

    {{ govukWarningText({
        text:'pages.contactUsQuestions.personalInformation.paragraph1' | translateEnOnly,
        iconFallbackText: "Warning"
    }) }}

    {% include 'contact-us/questions/_reply_by_email.njk' %}

    {{ govukButton({
        "text": "general.sendMessage" | translateEnOnly,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>
