<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsQuestions.noSecurityCode.header' | translate }}
</h1>

<form action="/contact-us-questions?radio_buttons=true" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="subtheme" value="{{subtheme}}"/>
<input type="hidden" name="backurl" value="{{backurl}}"/>
<input type="hidden" name="formType" value="noSecurityCode"/>
<input type="hidden" name="referer" value="{{referer}}"/>

{% set radioHeader = 'pages.contactUsQuestions.noSecurityCode.section1.header' | translate %}
{% include "contact-us/questions/_security_send_method.njk" %}

{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.noSecurityCode.section2.header' | translate,
      classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.noSecurityCode.section2.hintText' | translate
      },
    id: "moreDetailDescription",
    name: "moreDetailDescription",
    value: moreDetailDescription,
    errorMessage: {
        text: errors['moreDetailDescription'].text
    } if (errors['moreDetailDescription'])
}) }}

{{ govukWarningText({
    text:'pages.contactUsQuestions.personalInformation.paragraph1' | translate,
    iconFallbackText: "Warning"
}) }}

{% include 'contact-us/questions/_reply_by_email.njk' %}

{{ govukButton({
    "text": button_text|default("Send message", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>