<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {% if supportMfaResetWithIpv === true or supportMfaResetWithIpv === "true" %}
        {{ 'pages.contactUsQuestions.noPhoneNumberAccess.headerMfaReset' | translate }}
    {% else %}
        {{ 'pages.contactUsQuestions.noPhoneNumberAccess.header' | translate }}
    {% endif %}
</h1>

<form action="{{formSubmissionUrl}}?radio_buttons=true" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="subtheme" value="{{subtheme}}"/>
<input type="hidden" name="backurl" value="{{backurl}}"/>
<input type="hidden" name="fromURL" value="{{fromURL}}"/>
<input type="hidden" name="formType" value="noPhoneNumberAccess"/>
<input type="hidden" name="referer" value="{{referer}}"/>
<input type="hidden" name="supportMfaResetWithIpv" value="{{supportMfaResetWithIpv}}"/>
{% include 'contact-us/questions/_id-check-app-hidden-fields.njk' %}

{% set radioHeader = 'pages.contactUsQuestions.noPhoneNumberAccess.section1.header' | translate %}
{% include "contact-us/questions/_security_send_method.njk" %}

{{ govukCharacterCount({
    label: {
      text: 'pages.contactUsQuestions.noPhoneNumberAccess.section2.header' | translate,
      classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.noPhoneNumberAccess.section2.paragraph1' | translate
      },
    id: "optionalDescription",
    name: "optionalDescription",
    maxlength: contactUsFieldMaxLength,
    value: optionalDescription,
    charactersAtLimitText: 'pages.contactUsQuestions.characterCountComponent.charactersAtLimitText' | translate,
    charactersUnderLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.other' | translate,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.one' | translate
    },
    charactersOverLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.other' | translate,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.one' | translate
    },
    errorMessage: {
        text: errors['optionalDescription'].text | translate | replace('[maximumCharacters]', contactUsFieldMaxLength.toLocaleString())
    } if (errors['optionalDescription'])
}) }}

{% include "contact-us/questions/_service-trying-to-use.njk" %}

{{ govukWarningText({
    text:'pages.contactUsQuestions.personalInformation.paragraph1' | translate,
    iconFallbackText: "Warning"
}) }}

{% include 'contact-us/questions/_reply_by_email.njk' %}

{{ govukButton({
    "text": "general.sendMessage" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>
