<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsQuestions.noSecurityCode.header' | translate }}
</h1>

<form action="/contact-us-questions?radio_buttons=true" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="subtheme" value="{{subtheme}}"/>
<input type="hidden" name="backurl" value="{{backurl}}"/>
<input type="hidden" name="formType" value="noSecurityCode"/>
<input type="hidden" name="referer" value="{{referer}}"/>
<input type="hidden" name="supportMFAOptions" value="{{supportMFAOptions}}"/>

{% if theme == 'account_creation' %}

    {% if supportMFAOptions %}
        {% set items = [
            {
                value: "email",
                checked: securityCodeSentMethod === 'email',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.radio1' | translate
            },
            {
                value: "text_message",
                checked: securityCodeSentMethod === 'text_message',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.radio2' | translate
            },
            {
                value: "authenticator_app",
                checked: securityCodeSentMethod === 'authenticator_app',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.radio3' | translate
            }
        ]
        %}
    {% else %}
        {% set items = [
            {
                value: "email",
                checked: securityCodeSentMethod === 'email',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.radio1' | translate
            },
            {
                value: "text_message",
                checked: securityCodeSentMethod === 'text_message',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.radio2' | translate
            }
        ]
        %}
    {% endif %}

    {{ govukRadios({
        idPrefix: "securityCodeSentMethod",
        name: "securityCodeSentMethod",
        fieldset: {
            legend: {
                text: 'pages.contactUsQuestions.noSecurityCode.section1.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: items,
        errorMessage: {
          text: errors['securityCodeSentMethod'].text
        } if (errors['securityCodeSentMethod'])
    }) }}
{% endif %}


{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.noSecurityCode.section2.header' | translate,
      classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.noSecurityCode.section2.hintText' | translate
      },
    id: "moreDetailDescription",
    name: "moreDetailDescription",
    value: moreDetailDescription,
    errorMessage: {
        text: errors['moreDetailDescription'].text
    } if (errors['moreDetailDescription'])
}) }}

{{ govukWarningText({
    text:'pages.contactUsQuestions.personalInformation.paragraph1' | translate,
    iconFallbackText: "Warning"
}) }}

{% include 'contact-us/questions/_reply_by_email.njk' %}

{{ govukButton({
    "text": button_text|default("Send message", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>