{% set emailHtml %}
{{ govukInput({
  id: "email",
  name: "email",
  value: email,
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: 'pages.contactUsQuestions.emailReply.emailLabel' | translate
  },
  hint: {
      text: 'pages.contactUsQuestions.emailReply.emailHint' | translate
  },
  errorMessage: {
      text: errors['email'].text
  } if (errors['email'])
}) }}
{{ govukInput({
  id: "name",
  name: "name",
  value: name,
  spellcheck: false,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: 'pages.contactUsQuestions.emailReply.nameLabel' | translate
  }
}) }}
<br />
<p class="govuk-body">{{'pages.contactUsQuestions.emailReply.privacyNote' | translate | replace("#PRIVACY_NOTICE_LINK", '<a class="govuk-link" href="/govuk-one-login-privacy-notice" rel="noreferrer noopener" target="_blank">privacy notice</a>') | safe }}</p>
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: 'pages.contactUsQuestions.emailReply.header' | translate,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "true",
      text: 'general.yes' | translate,
      checked: contact === 'true',
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "false",
      text: 'general.no' | translate,
      checked: contact === 'false'
    }
    ],
      errorMessage: {
          text: errors['contact'].text
      } if (errors['contact'])
}) }}
