{% set countryHtml %}
{{ govukInput({
    id: "country",
    name: "country",
    value: country,
    spellcheck: false,
    classes: "govuk-!-width-two-thirds",
    label: {
      text: 'pages.contactUsQuestions.textMessageInternationNumberConditionalSection.heading' | translate
    },
    hint: {
        text: 'pages.contactUsQuestions.textMessageInternationNumberConditionalSection.hintText' | translate
    },
    errorMessage:{
        text: errors['country'].text
    }if (errors['country'])
  }) }}
{% endset -%}

{% if ipnSupport %}
    {% if theme == 'account_creation' %}
        {% set items = [
            {
                value: "email",
                checked: securityCodeSentMethod === 'email',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.email' | translate
            },
            {
                value: "text_message_uk_number",
                checked: securityCodeSentMethod === 'text_message_uk_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageUkNumber' | translate
            },
            {
                value: "text_message_international_number",
                checked: securityCodeSentMethod === 'text_message_international_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageInternationalNumber' | translate,
                conditional:{
                    html:countryHtml
                }
            },
            {
                value: "authenticator_app",
                checked: securityCodeSentMethod === 'authenticator_app',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.authApp' | translate
            }
        ] %}
    {% endif %}

    {% if theme == 'signing_in' %}
        {% set items = [
            {
                value: "text_message_uk_number",
                checked: securityCodeSentMethod === 'text_message_uk_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageUkNumber' | translate
            },
            {
                value: "text_message_international_number",
                checked: securityCodeSentMethod === 'text_message_international_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageInternationalNumber' | translate,
                conditional:{
                    html:countryHtml
                }
            },
            {
                value: "authenticator_app",
                checked: securityCodeSentMethod === 'authenticator_app',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.authApp' | translate
            }
        ] %}
    {% endif %}
{% endif %}

{% if not ipnSupport %}
    {% if theme == 'account_creation' %}
        {% set items = [
            {
                value: "email",
                checked: securityCodeSentMethod === 'email',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.email' | translate
            },
            {
                value: "text_message_uk_number",
                checked: securityCodeSentMethod === 'text_message_uk_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageUkNumber' | translate
            },
            {
                value: "text_message_international_number",
                checked: securityCodeSentMethod === 'text_message_international_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageInternationalNumber' | translate,
                conditional:{
                    html:countryHtml
                }
            },
            {
                value: "authenticator_app",
                checked: securityCodeSentMethod === 'authenticator_app',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.authApp' | translate
            }
        ] %}
    {% endif %}

    {% if theme == 'signing_in' %}
        {% set items = [
            {
                value: "email",
                checked: securityCodeSentMethod === 'email',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.email' | translate
            },
            {
                value: "text_message_uk_number",
                checked: securityCodeSentMethod === 'text_message_uk_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageUkNumber' | translate
            },
            {
                value: "text_message_international_number",
                checked: securityCodeSentMethod === 'text_message_international_number',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.textMessageInternationalNumber' | translate,
                conditional:{
                    html:countryHtml
                }
            },
            {
                value: "authenticator_app",
                checked: securityCodeSentMethod === 'authenticator_app',
                text: 'pages.contactUsQuestions.securityCodeSentMethod.authApp' | translate
            }
        ] %}
    {% endif %}
{% endif %}


{% if theme == 'account_creation' or theme == 'signing_in' %}
    {{ govukRadios({
        name: "securityCodeSentMethod",
        fieldset: {
            legend: {
                text: radioHeader,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: items,
        errorMessage: {
            text: errors['securityCodeSentMethod'].text
        } if (errors['securityCodeSentMethod'])
    }) }}
{% endif %}
