{{ govukInput({
    label: {
        text: 'pages.contactUsQuestions.serviceTryingToUse.header' | translateEnOnly,
        classes: "govuk-label--s"
    },
    id: "serviceTryingToUse",
    name: "serviceTryingToUse",
    value: serviceTryingToUse,
    hint: {
        text: 'pages.contactUsQuestions.serviceTryingToUse.hint' | translateEnOnly
    },
    errorMessage: {
        text: errors['serviceTryingToUse'].text
    } if (errors['serviceTryingToUse'])
}) }}
