<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsQuestions.technicalError.header' | translate }}
</h1>

<form action="/contact-us-questions" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="subtheme" value="{{subtheme}}"/>
<input type="hidden" name="backurl" value="{{backurl}}"/>

{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.technicalError.section1.header' | translate,
      classes: "govuk-label--s"
    },
    id: "issueDescription",
    name: "issueDescription",
    errorMessage: {
        text: errors['issueDescription'].text
    } if (errors['issueDescription'])
}) }}

{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.technicalError.section2.header' | translate,
      classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.technicalError.section2.paragraph1' | translate
      },
    id: "additionalDescription",
    name: "additionalDescription",
    errorMessage: {
        text: errors['additionalDescription'].text
    } if (errors['additionalDescription'])
}) }}

{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.technicalError.section3.header' | translate,
      classes: "govuk-label--s"
    },
    id: "optionalDescription",
    name: "optionalDescription",
    errorMessage: {
        text: errors['optionalDescription'].text
    } if (errors['optionalDescription'])
}) }}

    {{ govukRadios({
        idPrefix: "feedback-contact",
        name: "feedbackContact",
        fieldset: {
            legend: {
                text: 'pages.contactUsQuestions.emailReply.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "true",
                text: 'general.yes' | translate,
                checked: feedbackContact === 'true'
            },
            {
                value: "false",
                text: 'general.no' | translate,
                checked: feedbackContact === 'false'
            }
        ]
    }) }}

<div id="contact-details-container" class="{{ "" if feedbackContact === "true" else "govuk-!-display-none" }}">
    {{ govukInput({
        label: {
            html: 'pages.contactUsPublic.section3.replyEmail.label' | translate
        },
        hint: {
            text: 'pages.contactUsPublic.section3.replyEmail.hint' | translate
        },
        id: "replyEmail",
        name: "replyEmail",
        value: replyEmail,

        errorMessage: {
            text: errors['replyEmail'].text
        } if (errors['replyEmail'])
    }) }}

    {{ govukInput({
        label: {
            html: 'pages.contactUsPublic.section3.name.label' | translate
        },
        hint: {
            text: 'pages.contactUsPublic.section3.name.hint' | translate
        },
        id: "name",
        name: "name",
        value: name,
        errorMessage: {
            text: errors['name'].text
        } if (errors['name'])
    }) }}
</div>


{{ govukButton({
    "text": button_text|default("Submit form", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>