<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsQuestions.technicalError.header' | translateEnOnly }}
</h1>

<form action="{{formSubmissionUrl}}" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="theme" value="{{theme}}"/>
<input type="hidden" name="subtheme" value="{{subtheme}}"/>
<input type="hidden" name="backurl" value="{{backurl}}"/>
<input type="hidden" name="fromURL" value="{{fromURL}}"/>
<input type="hidden" name="formType" value="technicalError"/>
<input type="hidden" name="referer" value="{{referer}}"/>
{% include 'contact-us/questions/_id-check-app-hidden-fields.njk' %}

{{ govukCharacterCount({
    label: {
      text: 'pages.contactUsQuestions.technicalError.section1.header' | translateEnOnly,
      classes: "govuk-label--s"
    },
    id: "issueDescription",
    name: "issueDescription",
    maxlength: zendeskFieldMaxLength,
    value: issueDescription,
    charactersAtLimitText: 'pages.contactUsQuestions.characterCountComponent.charactersAtLimitText' | translateEnOnly,
    charactersUnderLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.other' | translateEnOnly,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.one' | translateEnOnly
    },
    charactersOverLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.other' | translateEnOnly,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.one' | translateEnOnly
    },
    errorMessage: {
        text: errors['issueDescription'].text | translateEnOnly | replace('[maximumCharacters]', zendeskFieldMaxLength.toLocaleString())
    } if (errors['issueDescription'])
}) }}

{{ govukCharacterCount({
    label: {
      text: 'pages.contactUsQuestions.technicalError.section2.header' | translateEnOnly,
      classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.technicalError.section2.paragraph1' | translateEnOnly
      },
    id: "additionalDescription",
    name: "additionalDescription",
    maxlength: zendeskFieldMaxLength,
    value: additionalDescription,
    charactersAtLimitText: 'pages.contactUsQuestions.characterCountComponent.charactersAtLimitText' | translateEnOnly,
    charactersUnderLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.other' | translateEnOnly,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.one' | translateEnOnly
    },
    charactersOverLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.other' | translateEnOnly,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.one' | translateEnOnly
    },
    errorMessage: {
        text: errors['additionalDescription'].text | translateEnOnly | replace('[maximumCharacters]', zendeskFieldMaxLength.toLocaleString())
    } if (errors['additionalDescription'])
}) }}

{{ govukWarningText({
    text:'pages.contactUsQuestions.personalInformation.paragraph1' | translateEnOnly,
    iconFallbackText: "Warning"
}) }}

{{ govukInput({
    label: {
      text: 'pages.contactUsQuestions.technicalError.section3.header' | translateEnOnly,
      classes: "govuk-label--s"
    },
    id: "optionalDescription",
    name: "optionalDescription",
    value: optionalDescription,
    spellcheck: false,
    errorMessage: {
        text: errors['optionalDescription'].text
    } if (errors['optionalDescription'])
}) }}

{% include 'contact-us/questions/_reply_by_email.njk' %}

{{ govukButton({
    "text": "general.sendMessage" | translateEnOnly,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>
