{{ govukCharacterCount({
    label: {
        text: 'pages.contactUsQuestions.whatHappened.header' | translateEnOnly,
        classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.whatHappened.paragraph1' | translateEnOnly
    },
    id: "issueDescription",
    name: "issueDescription",
    maxlength: contactUsFieldMaxLength,
    value: issueDescription,
    charactersAtLimitText: 'pages.contactUsQuestions.characterCountComponent.charactersAtLimitText' | translateEnOnly,
    charactersUnderLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.other' | translateEnOnly,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.one' | translateEnOnly
    },
    charactersOverLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.other' | translateEnOnly,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.one' | translateEnOnly
    },
    errorMessage: {
        text: errors['issueDescription'].text | translateEnOnly | replace('[maximumCharacters]', contactUsFieldMaxLength.toLocaleString())
    } if (errors['issueDescription'])
}) }}
