{{ govukCharacterCount({
    label: {
        text: 'pages.contactUsQuestions.whatHappened.header' | translate,
        classes: "govuk-label--s"
    },
    hint: {
        text: 'pages.contactUsQuestions.whatHappened.paragraph1' | translate
    },
    id: "issueDescription",
    name: "issueDescription",
    maxlength: zendeskFieldMaxLength,
    value: issueDescription,
    charactersAtLimitText: 'pages.contactUsQuestions.characterCountComponent.charactersAtLimitText' | translate,
    charactersUnderLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.other' | translate,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersUnderLimitText.one' | translate
    },
    charactersOverLimitText: {
        other: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.other' | translate,
        one: 'pages.contactUsQuestions.characterCountComponent.charactersOverLimitText.one' | translate
    },
    errorMessage: {
        text: errors['issueDescription'].text | translate | replace('[maximumCharacters]', zendeskFieldMaxLength.toLocaleString())
    } if (errors['issueDescription'])
}) }}
