{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set showBack = true %}
{% set hrefBack = 'support' %}
{% set pageTitleName = 'pages.contactUsQuestions.forgottenPassword.title' | translate %}

{% block content %}

    {% include "common/errors/errorSummary.njk" %}

{% set html %}
<p class="govuk-body">{{ 'pages.cookiePolicy.successBanner.paragraph1' | translate }}</p>
<a class="govuk-notification-banner__link" id="go-back-link" href="#">{{ 'pages.cookiePolicy.successBanner.linkText' | translate }}</a>
{% endset %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.contactUsQuestions.forgottenPassword.header' | translate }}
</h1>

<form action="/contact-us-questions" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<h2 class="govuk-heading-m">
  {{ 'pages.contactUsQuestions.forgottenPassword.section1.header' | translate }}
</h2>

{{ govukTextarea({
    label: {
      text: 'pages.contactUsQuestions.forgottenPassword.section1.paragraph1' | translate,
      classes: "govuk-label--s"
    },
    id: "forgottenPassword-anythingElse",
    name: "forgottenPassword-anythingElse",
    errorMessage: {
        text: errors['forgottenPassword-anythingElse'].text
    } if (errors['forgottenPassword-anythingElse'])
}) }}

    {{ govukRadios({
        idPrefix: "feedback-contact",
        name: "feedbackContact",
        fieldset: {
            legend: {
                text: 'pages.contactUsQuestions.emailReply.header' | translate,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "true",
                text: 'general.yes' | translate,
                checked: feedbackContact === 'true'
            },
            {
                value: "false",
                text: 'general.no' | translate,
                checked: feedbackContact === 'false'
            }
        ]
    }) }}

<div id="contact-details-container" class="{{ "" if feedbackContact === "true" else "govuk-!-display-none" }}">
    {{ govukInput({
        label: {
            html: 'pages.contactUsPublic.section3.replyEmail.label' | translate
        },
        hint: {
            text: 'pages.contactUsPublic.section3.replyEmail.hint' | translate
        },
        id: "replyEmail",
        name: "replyEmail",
        value: replyEmail,

        errorMessage: {
            text: errors['replyEmail'].text
        } if (errors['replyEmail'])
    }) }}

    {{ govukInput({
        label: {
            html: 'pages.contactUsPublic.section3.name.label' | translate
        },
        hint: {
            text: 'pages.contactUsPublic.section3.name.hint' | translate
        },
        id: "name",
        name: "name",
        value: name,
        errorMessage: {
            text: errors['name'].text
        } if (errors['name'])
    }) }}
</div>


{{ govukButton({
    "text": button_text|default("Submit form", true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% endblock %}