{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% set showBack = true %}
{% set hrefBack = backurl %}

{% set pageTitleName = pageTitleHeading | translate %}

{% block content %}
    {% include "common/errors/errorSummary.njk" %}

    {% if subtheme == 'account_not_found' %}
        {% include 'contact-us/questions/_account-not-found-questions.njk' %}
    {% endif %}

    {% if subtheme == 'technical_error' %}
        {% include 'contact-us/questions/_technical-error-questions.njk' %}
    {% endif %}

    {% if subtheme == 'no_security_code' %}
        {% include 'contact-us/questions/_no-security-code-questions.njk' %}
    {% endif %}

    {% if subtheme == 'invalid_security_code' %}
        {% include 'contact-us/questions/_invalid-security-code-questions.njk' %}
    {% endif %}

    {% if subtheme == 'sign_in_phone_number_issue' %}
        {% include 'contact-us/questions/_sign_in_phone_number_issue.njk' %}
    {% endif %}

    {% if subtheme == 'forgotten_password' %}
        {% include 'contact-us/questions/_forgotten-password-questions.njk' %}
    {% endif %}

    {% if subtheme == 'no_phone_number_access' %}
        {% include 'contact-us/questions/_no-phone-number-access-questions.njk' %}
    {% endif %}

    {% if subtheme == 'lost_security_code_access' %}
        {% include 'contact-us/questions/_no-phone-number-access-questions.njk' %}
    {% endif %}

    {% if subtheme == 'authenticator_app_problem' %}
        {% include 'contact-us/questions/_authenticator-app-problem.njk' %}
    {% endif %}

    {% if (theme == 'account_creation') and (subtheme == 'something_else') %}
        {% include 'contact-us/questions/_account-creation-problem-questions.njk' %}
    {% endif %}

    {% if (theme == 'signing_in') and (subtheme == 'something_else') %}
        {% include 'contact-us/questions/_signing-in-problem-questions.njk' %}
    {% endif %}

    {% if theme == 'suspect_unauthorised_access' %}
        {% include 'contact-us/questions/_suspect-unauthorised-access-questions.njk' %}
    {% endif %}

    {% if theme == 'something_else' %}
        {% include 'contact-us/questions/_another-problem-questions.njk' %}
    {% endif %}

    {% if theme == 'suggestions_feedback' %}
        {% include 'contact-us/questions/_suggestion-feedback-questions.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_details') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-problem-entering-details.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_letter') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-problem-letter.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_post_office') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-problem-at-post-office.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_post_office_id_results') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-problem-finding-result.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_post_office_service') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-problem-continuing.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_technical_problem') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-technical-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_face_to_face') and (subtheme == 'face_to_face_something_else') %}
        {% include 'contact-us/questions/_proving-identity-face-to-face-another-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'linking_problem') %}
        {% include 'contact-us/questions/_id-check-app-linking-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'id_check_app_linking_problem') %}
        {% include 'contact-us/questions/_id-check-app-linking-problem-new.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'one_login_app_sign_in_problem') %}
        {# TODO: AUT-4349: create new page for specifically one login app linking problem#}
        {% include 'contact-us/questions/_id-check-app-linking-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'taking_photo_of_id_problem') %}
        {% include 'contact-us/questions/_id-check-app-taking-photo-of-id-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'face_scanning_problem') %}
        {% include 'contact-us/questions/_id-check-app-face-scanning-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'id_check_app_technical_problem') %}
        {% include 'contact-us/questions/_id-check-app-technical-problem.njk' %}
    {% endif %}

    {% if (theme == 'id_check_app') and (subtheme == 'id_check_app_something_else') %}
        {% include 'contact-us/questions/_id-check-app-something-else.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_problem_answering_security_questions') %}
        {% include 'contact-us/questions/_proving-identity-problem-answering-security-questions.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_problem_with_identity_document') %}
        {% include 'contact-us/questions/_proving-identity-problem-with-identity-document.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_problem_with_bank_building_society_details') %}
        {% include 'contact-us/questions/_proving-identity-problem-with-bank-building-society-details.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_need_to_update_personal_information') %}
        {% include 'contact-us/questions/_proving-identity-need-to-update-personal-information.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_technical_problem') %}
        {% include 'contact-us/questions/_technical-error-questions.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_something_else') %}
        {% include 'contact-us/questions/_proving-identity-something-else.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_problem_with_national_insurance_number') %}
        {% include 'contact-us/questions/_proving-identity-problem-with-national-insurance-number.njk' %}
    {% endif %}

    {% if (theme == 'proving_identity') and (subtheme == 'proving_identity_problem_with_address') %}
        {% include 'contact-us/questions/_proving-identity-problem-entering-address.njk' %}
    {% endif %}

    {% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
    {%- include "ga4-opl/template.njk" -%}

{% endblock %}
