{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitleName = 'pages.shareInfo.title' | translate %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{ 'pages.shareInfo.header' | translate }}
</h1>

<h2 class="govuk-body-l">{{ clientName }}</h2>
<p class="govuk-body">{{'pages.shareInfo.bulletPointSectionHeader' | translate}}</p>

<ul class="govuk-list govuk-list--bullet">
    {% for scope in prettyScopes %}
        <li>
            {{ scope }}
        </li>
    {% endfor %}
</ul>

<p class="govuk-body">{{'pages.shareInfo.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.shareInfo.paragraph2' | translate}}</p>
<p class="govuk-body">{{'pages.shareInfo.paragraph3' | translate}}</p>

<form action="/share-info" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukRadios({
  name: "consentValue",
  fieldset: {
    legend: {
      text: 'pages.shareInfo.essentialHeader' | translate,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      text: 'pages.shareInfo.radios.radioText.agree' | translate,
      value: "true"
    },
    {
      text: 'pages.shareInfo.radios.radioText.doNotAgree' | translate,
      value: "false"
    }
  ],
  errorMessage: {
  text: errors['consentValue'].text
  } if (errors['consentValue'])
}) }}

{{ govukButton({
  "text": 'pages.shareInfo.continue' | translate,
  "type": "Submit",
  "preventDoubleClick": true
}) }}

</form>

{% endblock %}
