{% extends "common/layout/base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'pages.cannotChangeHowGetSecurityCodeMfaReset.title' | translate %}

{% block content %}
  {% include "common/errors/errorSummary.njk" %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.cannotChangeHowGetSecurityCodeMfaReset.header' | translate}}</h1>

  {% if variant === "identityFailed" %}
    <p class="govuk-body">{{'pages.cannotChangeHowGetSecurityCodeMfaReset.identityFailedPreamble' | translate}}</p>
  {% endif %}

  <p class="govuk-body">{{'pages.cannotChangeHowGetSecurityCodeMfaReset.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.cannotChangeHowGetSecurityCodeMfaReset.paragraph2' | translate}}</p>

  <form action="{{ formPostPath }}" method="post">

  <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <h2 class="govuk-heading-m">{{'pages.cannotChangeHowGetSecurityCodeMfaReset.radios.header' | translate}}</h2>

    {{ govukRadios({
        name: "cannotChangeHowGetSecurityCodeAction",
        attributes: {
            "id": "radio-cannot-change-how-get-security-code-action"
        },
        items: [
            {
                value: "help-to-delete-account",
                text: 'pages.cannotChangeHowGetSecurityCodeMfaReset.radios.option1Text' | translate,
                id: "help-to-delete-account",
                checked: false,
                hint: {
                  text: 'pages.cannotChangeHowGetSecurityCodeMfaReset.radios.option1Hint' | translate
                }
            },
            {
                value: "retry-security-code",
                text: 'pages.cannotChangeHowGetSecurityCodeMfaReset.radios.option2Text' | translate,
                id: "retry-security-code",
                checked: false
            }
        ],
        errorMessage: {
            text: 'pages.cannotChangeHowGetSecurityCodeMfaReset.radios.radioValidationError' | translate
        } if errors["cannotChangeHowGetSecurityCodeAction"]
    }) }}

  {{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
  }) }}
  </form>

{% set isPageDataSensitive = false %}
{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
