{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'general.footer.cookies.pageTitle' | translate %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  Cookies
</h1>

{% endblock %}
