{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.securityCodeExpired.title' | translate %}
{% block content %}

Auth code

{% endblock %}