{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.howDoYouWantSecurityCodes.title' | translate %}

{% block content %}

<form id="form-tracking" action="/how-do-you-want-security-codes" method="post" novalidate="novalidate">
    {{ govukButton({
        "text": "general.continue.label" | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}
</form>

<p class="govuk-body">
    {{ 'pages.howDoYouWantSecurityCodes.mfaReset.preamble' | translate }}<a href="{{ mfaResetLink }}" class="govuk-link"
     rel="noreferrer noopener">{{ 'pages.howDoYouWantSecurityCodes.mfaReset.link' | translate }}</a>.
</p>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
