{% extends "common/layout/base.njk" %}

{% block content %}
    {% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
    {%- include "ga4-opl/template.njk" -%}
{% endblock %}
