{% extends "common/layout/base.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'pages.signInWithPasskey.title' | translate  %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{'pages.signInWithPasskey.header' | translate }}
  </h1>

  <p class="govuk-body">
    {{'pages.signInWithPasskey.paragraph1' | translate }}
  </p>
  <p class="govuk-body">
    {{'pages.signInWithPasskey.paragraph2' | translate }}
  </p>
  <p class="govuk-body">
    {{'pages.signInWithPasskey.paragraph3' | translate }}
  </p>

  <form method="post" id="signInWithPasskeyForm" data-authentication-options="{{ authenticationOptions }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="authenticationResponse" value="" />
    <input type="hidden" name="authenticationError" value="JavaScriptNotEnabled" />

    {{ govukButton({
      text: 'general.continue.label' | translate,
      type: "Submit",
      preventDoubleClick: true
    }) }}

  </form>

  <p class="govuk-body">
    <a href="/journey/sign-in-passkey/SIGN_IN_WITHOUT_PASSKEY" class="govuk-link" rel="noreferrer noopener">{{'pages.signInWithPasskey.signInAnotherWayLinkText' | translate }}</a>
  </p>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}

{% block scripts %}
  <script {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}>
    const signInWithPasskeyForm = document.getElementById("signInWithPasskeyForm");
    let isSubmitting = false

    async function handleSubmit(event) {
      event.preventDefault();

      if (isSubmitting) return
      isSubmitting = true

      try {
        if (SimpleWebAuthnBrowser.browserSupportsWebAuthn()) {
          const authenticationResponse = await SimpleWebAuthnBrowser.startAuthentication({ optionsJSON: JSON.parse(signInWithPasskeyForm.dataset.authenticationOptions)})
          signInWithPasskeyForm.querySelector('input[name="authenticationResponse"]').value = JSON.stringify(authenticationResponse)

          const authenticationErrorField = signInWithPasskeyForm.querySelector('input[name="authenticationError"]');
          authenticationErrorField.parentNode.removeChild(authenticationErrorField)
        }
      } catch (error) {
        console.error(error.message);
        signInWithPasskeyForm.querySelector('input[name="authenticationError"]').value = `${error.name} - ${error.message}`
      }

      document.body.inert = true;

      signInWithPasskeyForm.submit();
    }

    signInWithPasskeyForm.addEventListener('submit', handleSubmit);

  </script>
  <script defer type="text/javascript" src="/public/scripts/prevent-double-form-submit.js"></script>
{% endblock %}
