.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  border-color: #dee0e2;
  border-top-color: #005ea5;
  margin-bottom: govuk-spacing(3);

  @media (forced-colors: active) {
    forced-color-adjust: none;
    border-top-color: transparent !important;
  }

  @media not (prefers-reduced-motion) {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @media (prefers-reduced-motion) {
    transform: rotate(0.125turn);
  }

  &__ready {
    border-color: #005ea5;
    -webkit-animation: none;
    animation: none;
  }
}

.spinner-container {
  &__error {
    .spinner,
    .spinner-state-text {
      display: none;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centre {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
