{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.checkYourPhone.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.checkYourPhone.header' | translate }}</h1>

<p class="govuk-body">{{'pages.checkYourPhone.info.paragraph1' | translate | replace("[mobile]", phoneNumber )}}</p>
<p class="govuk-body">{{'pages.checkYourPhone.info.paragraph2' | translate }}</p>

<form action="/check-your-phone" method="post" novalidate>

  <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
  <input type="hidden" name="phoneNumber" value="{{phoneNumber}}"/>

  {{ govukInput({
  label: {
  text: 'pages.checkYourPhone.code.label' | translate
  },
  classes: "govuk-!-width-two-thirds govuk-!-font-weight-bold",
  id: "code",
  name: "code",
  type: "number",
  errorMessage: {
  text: errors['code'].text
  } if (errors['code'])})
  }}

    <p class="govuk-body"> <a href="/enter-phone-number" class="govuk-link" rel="noreferrer noopener">{{'pages.checkYourPhone.resend.link' | translate }}</a> {{ 'pages.checkYourPhone.resend.paragraph1' | translate}}</p>
    <ul class="govuk-list govuk-list--bullet">
     <li>{{ 'pages.checkYourPhone.resend.listItem1' | translate}}</li>
     <li>{{ 'pages.checkYourPhone.resend.listItem2' | translate}}</li>
    </ul>

  {{ govukButton({
  "text": button_text|default('general.continue.label' | translate, true),
  "type": "Submit",
  "preventDoubleClick": true
  }) }}

</form>

{% endblock %}