{% extends "common/layout/base.njk" %}

{% set pageTitleName = 'pages.accessibilityStatement.title' | translate %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  {{'pages.accessibilityStatement.header' | translate}}
</h1>

<p class="govuk-body">{{'pages.accessibilityStatement.content.paragraph1' | translate}}
  <a href="https://www.gov.uk/help/accessibility" class="govuk-link">{{'pages.accessibilityStatement.content.linkText' | translate}}</a>.
</p>
<p class="govuk-body">{{'pages.accessibilityStatement.content.paragraph2' | translate}}</p>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section1.header' | translate}}
</h2>

<p class="govuk-body">{{'pages.accessibilityStatement.section1.paragraph1.text1' | translate}}
  <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">{{'pages.accessibilityStatement.section1.paragraph1.linkText' | translate}}</a>{{'pages.accessibilityStatement.section1.paragraph1.text2' | translate}}
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{'pages.accessibilityStatement.section1.bulletPoint1' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section1.bulletPoint2' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section1.bulletPoint3' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section1.bulletPoint4' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section1.bulletPoint5' | translate}}</li>
</ul>
<p class="govuk-body">{{'pages.accessibilityStatement.section1.paragraph2' | translate}}</p>
<p class="govuk-body">
  <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">{{'pages.accessibilityStatement.section1.linkText' | translate}}</a>
  {{'pages.accessibilityStatement.section1.paragraph3' | translate}}
</p>


<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section2.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section2.paragraph1' | translate}}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{'pages.accessibilityStatement.section2.bulletPoint1' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint2' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint3' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint4' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint5' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint6' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint7' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint8' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint9' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint10' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint11' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint12' | translate}}</li>
  <li>{{'pages.accessibilityStatement.section2.bulletPoint13' | translate}}</li>
</ul>
<p class="govuk-body">{{'pages.accessibilityStatement.section2.paragraph2' | translate}}</p>


<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section3.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section3.paragraph1' | translate}}
  <a href="/support" class="govuk-link">{{'pages.accessibilityStatement.section3.linkText' | translate}}</a>.
</p>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section4.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section4.paragraph1' | translate}}
  <a href="/support" class="govuk-link">{{'pages.accessibilityStatement.section4.linkText' | translate}}</a>.
</p>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section5.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section5.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.accessibilityStatement.section5.paragraph2' | translate}}
  <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">{{'pages.accessibilityStatement.section5.linkText' | translate}}</a>.
</p>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section6.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section6.paragraph1' | translate}}</p>

<h3 class="govuk-heading-s">
  {{'pages.accessibilityStatement.section6.subHeader' | translate}}
</h3>
<p class="govuk-body">{{'pages.accessibilityStatement.section6.paragraph2.text1' | translate}}
  <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">{{'pages.accessibilityStatement.section6.paragraph2.linkText' | translate}}</a>
  {{'pages.accessibilityStatement.section6.paragraph2.text2' | translate}}
</p>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section7.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section7.paragraph1' | translate}}</p>

<h3 class="govuk-heading-s">
  {{'pages.accessibilityStatement.section7.subHeader' | translate}}
</h3>
<ol class="govuk-list govuk-list--number">
    <li>{{'pages.accessibilityStatement.section7.listItem1' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem2' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem3' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem4' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem5' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem6' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem7' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem8' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem9' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem10' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem11' | translate}}</li>
    <li>{{'pages.accessibilityStatement.section7.listItem12' | translate}}</li>
</ol>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section8.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section8.paragraph1' | translate}}</p>

<h2 class="govuk-heading-m">
  {{'pages.accessibilityStatement.section9.header' | translate}}
</h2>
<p class="govuk-body">{{'pages.accessibilityStatement.section9.paragraph1' | translate}}</p>
<p class="govuk-body">{{'pages.accessibilityStatement.section9.paragraph2' | translate}}</p>

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: "", contentId: "", loggedInStatus: false, dynamic: false })}}

{% endblock %}
