{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'general.footer.privacy.pageTitle' | translate %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{'pages.privacy.header' | translate}}
  </h1>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section1.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section1.paragraph1.text1' | translate}}
    <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">
      {{'pages.privacy.section1.paragraph1.linkText' | translate}}
    </a>
    {{'pages.privacy.section1.paragraph1.text2' | translate}}
  </p>
  <p class="govuk-body">{{'pages.privacy.section1.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section1.bulletPoint1' | translate}}</li>
    <li>{{'pages.privacy.section1.bulletPoint2' | translate}}</li>
    <li>{{'pages.privacy.section1.bulletPoint3' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section1.paragraph3' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section1.paragraph4.text1' | translate}}
    <a href="https://www.gov.uk/help/privacy-notice" class="govuk-link">
      {{'pages.privacy.section1.paragraph4.linkText' | translate}}
    </a>
    {{'pages.privacy.section1.paragraph4.text2' | translate}}
  </p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section2.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section2.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section2.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section2.bulletPoint1' | translate}}</li>
    <li>{{'pages.privacy.section2.bulletPoint2' | translate}}</li>
    <li>
      {{'pages.privacy.section2.bulletPoint3.text1' | translate}}
      <a href="https://www.gov.uk/help/privacy-notice" class="govuk-link">
        {{'pages.privacy.section2.bulletPoint3.linkText1' | translate}}
      </a>
      {{'pages.privacy.section2.bulletPoint3.and' | translate}}
      <a href="https://www.gov.uk/support/cookies" class="govuk-link">
        {{'pages.privacy.section2.bulletPoint3.linkText2' | translate}}
      </a>
      {{'pages.privacy.section2.bulletPoint3.text2' | translate}}
    </li>
    <li>{{'pages.privacy.section2.bulletPoint4' | translate}}</li>
    <li>{{'pages.privacy.section2.bulletPoint5' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section2.paragraph3' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section3.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section3.paragraph1' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section3.bulletPoint1' | translate}}</li>
    <li>
      {{'pages.privacy.section3.bulletPoint2.text1' | translate}}
      <a href="http://www.gov.uk" class="govuk-link">
        {{'pages.privacy.section3.bulletPoint2.linkText' | translate}}
      </a>
      {{'pages.privacy.section3.bulletPoint2.text2' | translate}}
    </li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section3.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section3.bulletPoint3' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint4' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint5' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint6' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint7' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint8' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint9' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint10' | translate}}</li>
    <li>{{'pages.privacy.section3.bulletPoint11' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section3.paragraph3' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section4.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section4.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section4.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section4.bulletPoint1' | translate}}</li>
    <li>{{'pages.privacy.section4.bulletPoint2' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section4.paragraph3' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section5.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph1' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section5.bulletPoint1' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint2' | translate}}</li>
  </ul>

  <h3 class="govuk-heading-s">
    {{'pages.privacy.section5.subHeader1' | translate}}
  </h3>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph3' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph4' | translate}}</p>

  <h3 class="govuk-heading-s">
    {{'pages.privacy.section5.subHeader2' | translate}}
  </h3>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph5' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section5.bulletPoint3' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint4' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint5' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph6' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section5.bulletPoint6' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint7' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint8' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint9' | translate}}</li>
    <li>{{'pages.privacy.section5.bulletPoint10' | translate}}</li>
  </ul>

  <h3 class="govuk-heading-s">
    {{'pages.privacy.section5.subHeader2' | translate}}
  </h3>
  <p class="govuk-body">{{'pages.privacy.section5.paragraph7' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section6.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section6.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section6.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section6.paragraph3' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section6.paragraph4' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section6.paragraph5' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section7.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section7.paragraph1' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section8.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section8.paragraph1' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section9.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section9.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section9.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      {{'pages.privacy.section9.bulletPoint1.text1' | translate}}
      <a href="https://www.ncsc.gov.uk/cyberaware/home" class="govuk-link">
        {{'pages.privacy.section9.bulletPoint1.linkText' | translate}}
      </a>
    </li>
    <li>
      <a href="/support" class="govuk-link">
        {{'pages.privacy.section9.bulletPoint2' | translate}}
      </a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section10.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section10.paragraph1' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section10.bulletPoint1' | translate}}</li>
    <li>{{'pages.privacy.section10.bulletPoint2' | translate}}</li>
    <li>{{'pages.privacy.section10.bulletPoint3' | translate}}</li>
    <li>{{'pages.privacy.section10.bulletPoint4' | translate}}</li>
    <li>{{'pages.privacy.section10.bulletPoint5' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.privacy.section10.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section10.bulletPoint6' | translate}}</li>
    <li>{{'pages.privacy.section10.bulletPoint7' | translate}}</li>
  </ul>
  <p class="govuk-body">
    {{'pages.privacy.section10.paragraph3.text1' | translate}}
    <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk" class="govuk-link">
      {{'pages.privacy.section10.paragraph3.linkText' | translate}}
    </a>
  </p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section11.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section11.paragraph1' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.privacy.section11.bulletPoint1' | translate}}</li>
    <li>{{'pages.privacy.section11.bulletPoint2' | translate}}</li>
  </ul>
  <p class="govuk-body">
    {{'pages.privacy.section11.address1.line1' | translate}}<br>
    <a href="mailto:DPO@cabinetoffice.gov.uk" class="govuk-link">
      {{'pages.privacy.section11.address1.email' | translate}}
    </a><br>
    {{'pages.privacy.section11.address1.line2' | translate}}<br>
    {{'pages.privacy.section11.address1.line3' | translate}}<br>
    {{'pages.privacy.section11.address1.line4' | translate}}<br>
    {{'pages.privacy.section11.address1.line5' | translate}}<br>
  </p>
  <p class="govuk-body">{{'pages.privacy.section11.paragraph2' | translate}}</p>
  <p class="govuk-body">
    {{'pages.privacy.section11.address2.line1' | translate}}<br>
    {{'pages.privacy.section11.address2.line2' | translate}}<br>
    {{'pages.privacy.section11.address2.line3' | translate}}<br>
    {{'pages.privacy.section11.address2.line4' | translate}}<br>
    {{'pages.privacy.section11.address2.line5' | translate}}<br>
    <a href="mailto:icocasework@ico.org.uk" class="govuk-link">
      {{'pages.privacy.section11.address2.email' | translate}}
    </a><br>
    {{'pages.privacy.section11.address2.phone' | translate}}<br>
    {{'pages.privacy.section11.address2.text' | translate}}<br>
    {{'pages.privacy.section11.address2.line6' | translate}}<br>
    <a href="https://www.gov.uk/call-charges" class="govuk-link">
      {{'pages.privacy.section11.address2.line7' | translate}}
    </a>
  </p>

  <h2 class="govuk-heading-m">
    {{'pages.privacy.section12.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.privacy.section12.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section12.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.privacy.section12.paragraph3' | translate}}</p>

{% endblock %}
