{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'general.footer.privacy.pageTitle' | translate %}

{% block content %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        {{ 'pages.privacy.header' | translate }}
    </h1>


    {# about #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.about.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.about.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.about.paragraph_two.part_one' | translate }}
        <a class="govuk-link" href="{{ "pages.privacy.sections.about.paragraph_two.part_two.link_href" | translate }}">{{ "pages.privacy.sections.about.paragraph_two.part_two.link_text" | translate }}</a>{{ 'pages.privacy.sections.about.paragraph_two.part_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.about.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.about.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.about.paragraph_five' | translate }}
    </p>


    {# information_we_collect #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.information_we_collect.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.information_we_collect.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.information_we_collect.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.information_we_collect.list.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.information_we_collect.list.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.information_we_collect.list.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.information_we_collect.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.information_we_collect.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.information_we_collect.paragraph_five' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.information_we_collect.paragraph_six' | translate }}
    </p>


    {# using_id_check_app #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.using_id_check_app.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_one.part_one' | translate }}
        <a class="govuk-link" href="{{ 'pages.privacy.sections.using_id_check_app.paragraph_one.link_one.link_href' | translate }}">{{ 'pages.privacy.sections.using_id_check_app.paragraph_one.link_one.link_text' | translate }}</a>
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_one.part_two' | translate }}
        <a class="govuk-link" href="{{ 'pages.privacy.sections.using_id_check_app.paragraph_one.link_two.link_href' | translate }}">{{ 'pages.privacy.sections.using_id_check_app.paragraph_one.link_two.link_text' | translate }}</a>
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_one.part_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_one.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_one.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_three' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_id_check_app.sub_header_one' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_five' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_six' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_seven' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_six' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_seven' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_eight' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_two.item_nine' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_eight' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_nine' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_ten' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_three.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_id_check_app.list_three.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_eleven' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_id_check_app.sub_header_two' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_twelve' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_thirteen' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_fourteen' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_id_check_app.sub_header_four' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_fifteen' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_sixteen' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_id_check_app.paragraph_seventeen' | translate }}
    </p>


    {# using_web_to_prove_identity #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_one' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.sub_header_one' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.using_web_to_prove_identity.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_web_to_prove_identity.list_one.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_five' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.sub_header_two' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_six' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_seven' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_eight' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.using_web_to_prove_identity.list_two.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.using_web_to_prove_identity.list_two.item_two' | translate }}</li>
    </ul>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.sub_header_three' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_nine' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_ten' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.sub_header_four' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_eleven.part_one' | translate }}
        <a href="{{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_eleven.link.link_href' | translate }}">{{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_eleven.link.link_text' | translate }}</a>.
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_twelve' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_thirteen' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.using_web_to_prove_identity.paragraph_fourteen' | translate }}
    </p>


    {# proving_identity_at_post_office #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_one.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_three' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.sub_header_one' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_four' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_two.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_two.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_two.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_two.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_two.item_five' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_five' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_three.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_three.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_three.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_six' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.sub_header_two' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_seven' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_eight' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_four.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.proving_identity_at_post_office.list_four.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_nine' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.sub_header_three' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_ten' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.proving_identity_at_post_office.paragraph_eleven' | translate }}
    </p>


    {# borrow_phone_identity #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.borrow_phone_identity.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.borrow_phone_identity.paragraph_one' | translate }}
    </p>


    {# handle_information #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.handle_information.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.handle_information.paragraph_one' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.handle_information.list.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.handle_information.list.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.handle_information.paragraph_two.part_one' | translate }}
        <a href="{{ 'pages.privacy.sections.handle_information.paragraph_two.link.link_href' | translate }}">{{ 'pages.privacy.sections.handle_information.paragraph_two.link.link_text' | translate }}</a>.
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.handle_information.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.handle_information.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.handle_information.paragraph_five' | translate }}
    </p>


    {# technical_information #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.technical_information.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.technical_information.paragraph_one' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.technical_information.list.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.technical_information.list.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.technical_information.list.item_three' | translate }}
    </p>


    {# when_you_contact_us #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.when_you_contact_us.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_one.part_one' | translate }}
        <a class="govuk-link" href="{{ 'pages.privacy.sections.when_you_contact_us.paragraph_one.link_href' | translate }}">{{ 'pages.privacy.sections.when_you_contact_us.paragraph_one.link_text' | translate }}</a>
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_one.part_two' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.when_you_contact_us.list.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.when_you_contact_us.list.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.when_you_contact_us.list.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_five' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.when_you_contact_us.paragraph_six' | translate }}
    </p>


    {# if_you_agree_to_analytics #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_one.part_one' | translate }}
        <a href="{{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_one.link_href' | translate }}">{{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_one.link_text' | translate }}</a>.
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_two' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_four' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_six' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_seven' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_eight' | translate }}</li>
        <li>{{ 'pages.privacy.sections.if_you_agree_to_analytics.list.item_nine' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_five' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_six' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.if_you_agree_to_analytics.paragraph_seven' | translate }}
    </p>


    {# why_we_need_your_information #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.why_we_need_your_information.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.why_we_need_your_information.paragraph_one' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_one.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.why_we_need_your_information.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_six' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_seven' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_eight' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_nine' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_ten' | translate }}</li>
        <li>{{ 'pages.privacy.sections.why_we_need_your_information.list_two.item_eleven' | translate }}</li>
    </ul>


    {# legal_basis #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.legal_basis.header' | translate }}
    </h2>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.legal_basis.sub_header_one' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.legal_basis.paragraph_one' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.legal_basis.sub_header_two' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.legal_basis.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.legal_basis.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.legal_basis.list_one.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.legal_basis.paragraph_three' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.legal_basis.list_two.item_one.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.legal_basis.list_two.item_one.link_href' | translate }}">{{ 'pages.privacy.sections.legal_basis.list_two.item_one.link_text' | translate }}</a>
        </li>
        <li>{{ 'pages.privacy.sections.legal_basis.list_two.item_two.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.legal_basis.list_two.item_two.link_href' | translate }}">{{ 'pages.privacy.sections.legal_basis.list_two.item_two.link_text' | translate }}</a>
        </li>
    </ul>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.legal_basis.sub_header_three' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.legal_basis.paragraph_four' | translate }}
    </p>


    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.legal_basis.sub_header_four' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.legal_basis.paragraph_five' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.legal_basis.list_three.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.legal_basis.list_three.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.legal_basis.paragraph_six' | translate }}
    </p>


    {# who_we_share_with #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.who_we_share_with.header' | translate }}
    </h2>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.who_we_share_with.sub_header_one' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_one' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_one.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_one.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_two' | translate }}
    </p>

    <h4 class="govuk-heading-s">
        {{ 'pages.privacy.sections.who_we_share_with.sub_sub_header' | translate }}
    </h4>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_five' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_six' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_seven' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_two.item_eight' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_six' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_three.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_three.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_three.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_three.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_three.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_three.item_six' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_seven' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.who_we_share_with.sub_header_two' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_eight' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_nine' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            {{ 'pages.privacy.sections.who_we_share_with.list_four.item_one.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.who_we_share_with.list_four.item_one.link_href' | translate }}">{{ 'pages.privacy.sections.who_we_share_with.list_four.item_one.link_text' | translate }}</a>
        </li>
        <li>
            {{ 'pages.privacy.sections.who_we_share_with.list_four.item_two.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.who_we_share_with.list_four.item_two.link_href' | translate }}">{{ 'pages.privacy.sections.who_we_share_with.list_four.item_two.link_text' | translate }}</a>
        </li>
        <li>
            {{ 'pages.privacy.sections.who_we_share_with.list_four.item_three.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.who_we_share_with.list_four.item_three.link_href' | translate }}">{{ 'pages.privacy.sections.who_we_share_with.list_four.item_three.link_text' | translate }}</a>
        </li>
        <li>
            {{ 'pages.privacy.sections.who_we_share_with.list_four.item_four.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.who_we_share_with.list_four.item_four.link_href' | translate }}">{{ 'pages.privacy.sections.who_we_share_with.list_four.item_four.link_text' | translate }}</a>
        </li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_four.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_four.item_six' | translate }}</li>
        <li>
            {{ 'pages.privacy.sections.who_we_share_with.list_four.item_seven.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.who_we_share_with.list_four.item_seven.link_href' | translate }}">{{ 'pages.privacy.sections.who_we_share_with.list_four.item_seven.link_text' | translate }}</a>
        </li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_ten' | translate }}
    </p>


    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.who_we_share_with.sub_header_three' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_eleven' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_five.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_five.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_five.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_five.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_five.item_five' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_twelve' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_six' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_seven' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_six.item_eight' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_thirteen' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_seven.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_seven.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_seven.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.who_we_share_with.list_seven.item_four' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_fourteen' | translate }}
    </p>

    <h3 class="govuk-heading-s">
        {{ 'pages.privacy.sections.who_we_share_with.sub_header_four' | translate }}
    </h3>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.who_we_share_with.paragraph_fifteen' | translate }}
    </p>


    {# how_long_we_keep_your_information #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_two' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_five' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_six' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_seven' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_eight' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_nine' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_ten' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.how_long_we_keep_your_information.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.how_long_we_keep_your_information.list_one.item_two' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_long_we_keep_your_information.paragraph_eleven' | translate }}
    </p>


    {# childrens_privacy_protection #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.childrens_privacy_protection.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.childrens_privacy_protection.paragraph_one' | translate }}
    </p>


    {# where_information_processed_stored #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.where_information_processed_stored.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.where_information_processed_stored.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.where_information_processed_stored.paragraph_two' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.where_information_processed_stored.paragraph_three' | translate }}
    </p>


    {# how_we_protect_your_information #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.how_we_protect_your_information.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_we_protect_your_information.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.how_we_protect_your_information.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.how_we_protect_your_information.list_one.item_one.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.how_we_protect_your_information.list_one.item_one.link_href' | translate }}">{{ 'pages.privacy.sections.how_we_protect_your_information.list_one.item_one.link_text' | translate }}</a>
        </li>
        <li>
            <a class="govuk-link" href="{{ contactUsLinkUrl }}">{{ 'pages.privacy.sections.how_we_protect_your_information.list_one.item_two.link_text' | translate }}</a>
        </li>
    </ul>


    {# automated_decision_making #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.automated_decision_making.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.automated_decision_making.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.automated_decision_making.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.automated_decision_making.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.automated_decision_making.list_one.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.automated_decision_making.list_one.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.automated_decision_making.paragraph_three' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.automated_decision_making.paragraph_four' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.automated_decision_making.paragraph_five' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.automated_decision_making.paragraph_six' | translate }}
    </p>


    {# your_rights #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.your_rights.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.your_rights.paragraph_one.part_one' | translate }}
        <a class="govuk-link" href="{{ 'pages.privacy.sections.your_rights.paragraph_one.link_href' | translate }}">{{ 'pages.privacy.sections.your_rights.paragraph_one.link_text' | translate }}</a>.
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.your_rights.paragraph_two' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.your_rights.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.your_rights.list_one.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.your_rights.list_one.item_three' | translate }}</li>
        <li>{{ 'pages.privacy.sections.your_rights.list_one.item_four' | translate }}</li>
        <li>{{ 'pages.privacy.sections.your_rights.list_one.item_five' | translate }}</li>
        <li>{{ 'pages.privacy.sections.your_rights.list_one.item_six' | translate }}</li>
    </ul>


    {# contact_us_or_make_complaint #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.contact_us_or_make_complaint.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.contact_us_or_make_complaint.paragraph_one.part_one' | translate }}
        <a class="govuk-link" href="{{ 'pages.privacy.sections.contact_us_or_make_complaint.paragraph_one.link_href' | translate }}">{{ 'pages.privacy.sections.contact_us_or_make_complaint.paragraph_one.link_text' | translate }}</a>
        {{ 'pages.privacy.sections.contact_us_or_make_complaint.paragraph_one.part_three' | translate }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.privacy.sections.contact_us_or_make_complaint.list_one.item_one' | translate }}</li>
        <li>{{ 'pages.privacy.sections.contact_us_or_make_complaint.list_one.item_two' | translate }}</li>
        <li>{{ 'pages.privacy.sections.contact_us_or_make_complaint.list_one.item_three' | translate }}</li>
    </ul>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.contact_us_or_make_complaint.paragraph_two' | translate }}
    </p>

    <div class="contact">
        <p class="govuk-body">{{ 'pages.privacy.sections.contact_us_or_make_complaint.data_protection_officer.title' | translate }}
            <br>
            <a class="govuk-link" href="{{ 'pages.privacy.sections.contact_us_or_make_complaint.data_protection_officer.link_href' | translate }}">{{ 'pages.privacy.sections.contact_us_or_make_complaint.data_protection_officer.link_text' | translate }}</a>
        </p>
    </div>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.paragraph_one' | translate }}
    </p>

    <div class="contact">
        <p class="govuk-body">
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.address_one' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.address_two' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.address_three' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.address_four' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.address_five' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.email.part_one' | translate }}
            <a class="govuk-link" href="{{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.email.link_href' | translate }}">{{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.email.link_text' | translate }}</a><br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.telephone' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.textphone' | translate }}
            <br>
            {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.hours' | translate }}<br>
            <a class="govuk-link" href="{{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.call_charges.link_href' | translate }}">{{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.call_charges.link_text' | translate }}</a>
        </p>
    </div>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.contact_us_or_make_complaint.information_commissioner.paragraph_two' | translate }}
    </p>


    {# changes_to_this_notice #}

    <h2 class="govuk-heading-m">
        {{ 'pages.privacy.sections.changes_to_this_notice.header' | translate }}
    </h2>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.changes_to_this_notice.paragraph_one' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.changes_to_this_notice.paragraph_two' | translate }}
    </p>

    <p class="govuk-body">
        {{ 'pages.privacy.sections.changes_to_this_notice.paragraph_three' | translate }}
    </p>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
