{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'general.footer.privacy.pageTitle' | translate %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  Privacy
</h1>

{% endblock %}
