{% extends "common/layout/base.njk" %}

{% set pageTitleName = 'general.footer.terms.pageTitle' | translate %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
    {{'pages.termsAndConditions.header' | translate}}
  </h1>

  <p class="govuk-body">{{'pages.termsAndConditions.section1.paragraph1.text1' | translate}}
    <a href="https://www.gov.uk/help/terms-conditions" class="govuk-link">{{'pages.termsAndConditions.section1.paragraph1.linkText' | translate}}</a>.
  </p>
  <p class="govuk-body">{{'pages.termsAndConditions.section1.paragraph2.text1' | translate}}
    <a href="https://www.gov.uk/government/organisations/government-digital-service" class="govuk-link">{{'pages.termsAndConditions.section1.paragraph2.linkText' | translate}}</a>
    {{'pages.termsAndConditions.section1.paragraph2.text2' | translate}}
  </p>
  <p class="govuk-body">{{'pages.termsAndConditions.section1.paragraph3.text1' | translate}}
    <a href="/privacy-notice" class="govuk-link">
      {{'pages.termsAndConditions.section1.paragraph3.linkText1' | translate}}
    </a>
    {{'pages.termsAndConditions.section1.paragraph3.text2' | translate}}
    <a href="/cookies" class="govuk-link">{{'pages.termsAndConditions.section1.paragraph3.linkText2' | translate}}</a>
    {{'pages.termsAndConditions.section1.paragraph3.text3' | translate}}
  </p>
  <p class="govuk-body">{{'pages.termsAndConditions.section1.paragraph4' | translate}}</p>

  <h3 class="govuk-heading-s">
    {{'pages.termsAndConditions.section1.subHeader' | translate}}
  </h3>
  <p class="govuk-body">{{'pages.termsAndConditions.section1.paragraph5' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section1.paragraph6' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section2.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section2.paragraph1' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section2.bulletPoint1' | translate}}</li>
    <li>{{'pages.termsAndConditions.section2.bulletPoint2' | translate}}</li>
    <li>{{'pages.termsAndConditions.section2.bulletPoint3' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.termsAndConditions.section2.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section2.paragraph3' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section3.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section3.paragraph1.text1' | translate}}
    <a href="https://www.ncsc.gov.uk/cyberaware/home" class="govuk-link">{{'pages.termsAndConditions.section3.paragraph1.linkText' | translate}}</a>.
  </p>
  <p class="govuk-body">{{'pages.termsAndConditions.section3.paragraph2' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section4.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section4.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section4.paragraph2' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section4.bulletPoint1' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint2' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint3' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint4' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint5' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.termsAndConditions.section4.paragraph3' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section4.bulletPoint6' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint7' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint8' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint9' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint10' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint11' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint12' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint13' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint14' | translate}}</li>
    <li>{{'pages.termsAndConditions.section4.bulletPoint15' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.termsAndConditions.section4.paragraph4' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section5.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section5.paragraph1.text1' | translate}}
    <a href="/support" class="govuk-link">{{'pages.termsAndConditions.section5.paragraph1.linkText1' | translate}}</a>.
    {{'pages.termsAndConditions.section5.paragraph1.text2' | translate}}
    <a href="/privacy-notice" class="govuk-link">{{'pages.termsAndConditions.section5.paragraph1.linkText2' | translate}}</a>{{'pages.termsAndConditions.section5.paragraph1.text3' | translate}}
  </p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section6.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section6.paragraph1' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section6.bulletPoint1' | translate}}</li>
    <li>{{'pages.termsAndConditions.section6.bulletPoint2' | translate}}</li>
    <li>{{'pages.termsAndConditions.section6.bulletPoint3' | translate}}</li>
    <li>{{'pages.termsAndConditions.section6.bulletPoint4' | translate}}</li>
    <li>{{'pages.termsAndConditions.section6.bulletPoint5' | translate}}</li>
    <li>{{'pages.termsAndConditions.section6.bulletPoint6' | translate}}</li>
  </ul>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section7.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section7.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section7.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section7.paragraph3' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section8.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph3' | translate}}</p>

  <h3 class="govuk-heading-s">
    {{'pages.termsAndConditions.section8.subHeader1' | translate}}
  </h3>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph4' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section8.bulletPoint1' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint2' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint3' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph5' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section8.bulletPoint4' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint5' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint6' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint7' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint8' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph6' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph7' | translate}}</p>

  <h3 class="govuk-heading-s">
    {{'pages.termsAndConditions.section8.subHeader2' | translate}}
  </h3>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph8' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph9' | translate}}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section8.bulletPoint9' | translate}}</li>
    <li>{{'pages.termsAndConditions.section8.bulletPoint10' | translate}}</li>
  </ul>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph10' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section8.paragraph11' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section9.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section9.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.termsAndConditions.section9.paragraph2' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section10.header' | translate}}
  </h2>
  <p class="govuk-body">{{'pages.termsAndConditions.section10.paragraph1' | translate}}</p>

  <h2 class="govuk-heading-m">
    {{'pages.termsAndConditions.section11.header' | translate}}
  </h2>
  <p class="govuk-body">
    <a href="/support" class="govuk-link">{{'pages.termsAndConditions.section11.paragraph1.linkText' | translate}}</a>{{'pages.termsAndConditions.section11.paragraph1.text1' | translate}}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.termsAndConditions.section11.bulletPoint1' | translate}}</li>
    <li>{{'pages.termsAndConditions.section11.bulletPoint2' | translate}}</li>
  </ul>
  <p class="govuk-body">
    {{'pages.termsAndConditions.section11.paragraph2.text1' | translate}}
    <a href="https://www.gov.uk/government/organisations/government-digital-service/about" class="govuk-link">{{'pages.termsAndConditions.section11.paragraph2.linkText' | translate}}</a>.
  </p>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}

{% endblock %}
