{% extends "common/layout/base.njk" %}

{% set pageTitleName = 'general.footer.terms.pageTitle' | translate %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
  Terms
</h1>

{% endblock %}
