{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set showBack = true %}
{% set hrefBack = 'enter-email-create' %}
{% set pageTitleName = 'pages.checkYourEmail.title' | translate %}

{% block content %}
  {% include "common/errors/errorSummary.njk" %}

  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.checkYourEmail.header' | translate}}</h1>

  {{ govukInsetText({
    html: 'pages.checkYourEmail.text' | translate + '<span class="govuk-body govuk-!-font-weight-bold permit-reflow">' + email + '</span>'
  }) }}

  <p class="govuk-body">{{'pages.checkYourEmail.info.paragraph1' | translate}}</p>
  <p class="govuk-body">{{'pages.checkYourEmail.info.paragraph2' | translate}}</p>
  <p class="govuk-body">{{'pages.checkYourEmail.info.paragraph3' | translate}}</p>

  <form action="/check-your-email" method="post" novalidate="novalidate">

    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="hidden" name="email" value="{{email}}"/>
    {{ govukInput({
    label: {
        text: 'pages.checkYourEmail.code.label' | translate
    },
    id: "code",
    name: "code",
    classes: "govuk-input--width-10",
    inputmode: "numeric",
    spellcheck: false,
    autocomplete: "one-time-code",
    errorMessage: {
        text: errors['code'].text
    } if (errors['code'])})
}}

    {% set detailsHTML %}
    <p class="govuk-body">
      {{'pages.checkYourEmail.details.text1' | translate}}
      <a href="{{'pages.checkYourEmail.details.sendCodeLinkHref' | translate}}" class="govuk-link" rel="noreferrer noopener">{{'pages.checkYourEmail.details.sendCodeLinkText'| translate}}</a>
      {{'pages.checkYourEmail.details.text2' | translate}}
      <a href="{{'pages.checkYourEmail.details.changeEmailLinkHref' | translate}}" class="govuk-link" rel="noreferrer noopener">{{'pages.checkYourEmail.details.changeEmailLinkText'| translate}}</a>.
    </p>
    {% endset %}

    {{ govukButton({
      "text": "general.continue.label" | translate,
      "type": "Submit",
      "preventDoubleClick": true
    }) }}

    {{ govukDetails({
      summaryText: 'pages.checkYourEmail.details.summaryText' | translate,
      html: detailsHTML
    }) }}

  </form>

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, loggedInStatus: "false", dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
