<div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
    {{ govukInput({
        label: {
            text: passwordLabel
        },
        classes: "govuk-!-width-two-thirds govuk-password-input",
        id: "password",
        name: "password",
        type: "password",
        spellcheck: false,
        errorMessage: {
            text: errors['password'].text
        } if (errors['password'])})
    }}
</div>
