{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "common/show-password/macro.njk" import govukInputWithShowPasswordWithLabelAsPageHeading %}
{% if isReauthJourney === false or isReauthJourney === "false" %}
    {% set showBack = true %}
{% endif %}
{% set hrefBack = 'enter-email' %}
{% set pageTitleName = 'pages.enterPassword.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form id="form-tracking" action="/enter-password" method="post" novalidate>
<input type="hidden" name="_csrf" value="{{csrfToken}}"/>
<input type="hidden" name="isReauthJourney" value="{{isReauthJourney}}"/>

{{ govukInputWithShowPasswordWithLabelAsPageHeading(
    'pages.enterPassword.header' | translate,
    "password",
    errors,
    {
        show: 'general.showPassword.show' | translate,
        hide: 'general.showPassword.hide' | translate,
        showFullText: 'general.showPassword.showFullText' | translate,
        hideFullText: 'general.showPassword.hideFullText' | translate,
        announceShown: 'general.showPassword.announceShown' | translate,
        announceHidden: 'general.showPassword.announceHidden' | translate
    },
    "off"
) }}

{{ govukButton({
    "text": "general.continue.label" | translate,
    "type": "Submit",
    "preventDoubleClick": true
}) }}

<p class="govuk-body">
    <a href="/reset-password-request" class="govuk-link" rel="noreferrer noopener">{{'pages.enterPassword.forgottenPassword.text' | translate }}</a>
</p>

<p class="govuk-body">
    <a href="/optional-path?event=RESET_PASSWORD" class="govuk-link" rel="noreferrer noopener">forgot password (test)</a>
</p>

</form>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, loggedInStatus: false, dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
{% endblock %}
