@@ -0,0 +1,26 @@
{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'pages.signInRetryBlocked.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.signInRetryBlocked.header' | translate}}</h1>

<p class="govuk-body">{{'pages.signInRetryBlocked.paragraph' | translate}}</p>

<h2 class="govuk-heading-m">{{'pages.signInRetryBlocked.subHeader' | translate}}</h2>
{% if strategicAppChannel === true %}
    <p class="govuk-body strategic-app-retry-options">
        <a href="/reset-password-request" class="govuk-link">{{ 'mobileAppPages.signInRetryBlocked.whatCanYouDo.resetYourPassword' | translate }}</a>
        <span class="govuk-visually-hidden">.</span><br>
        {{ 'mobileAppPages.signInRetryBlocked.whatCanYouDo.waitAndTryAgain' | translate }}
    </p>
{% else %}
<p class="govuk-body">{{'pages.signInRetryBlocked.bulletPointSection.title' | translate}}</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="/reset-password-request" class="govuk-link">{{ 'pages.signInRetryBlocked.bulletPointSection.first' | translate }}</a></li>
    <li>{{'pages.signInRetryBlocked.bulletPointSection.second' | translate}}</li>
</ul>
{% endif %}

{% set ga4Params = { nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, contentId: "e020dd02-2f97-46f9-9b26-c98730c89d73", loggedInStatus: false, dynamic: false } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
