{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set showBack = true %}
{% set hrefBack = 'enter-email' %}
{% set pageTitleName = 'pages.enterPasswordAccountExists.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.enterPasswordAccountExists.header' | translate}}</h1>

<form action="/enter-password" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<p class="govuk-body">
    {{ 'pages.enterPasswordAccountExists.paragraph1' | translate }}
    <span class="govuk-body govuk-!-font-weight-bold">{{email}}</span>
</p>

<p class="govuk-body">{{'pages.enterPasswordAccountExists.info' | translate}}</p>

{{ govukInput({
    label: {
        text: 'pages.enterPasswordAccountExists.password.label' | translate
    },
    classes: "govuk-!-width-two-thirds",
    id: "password",
    name: "password",
    type: "password",
    spellcheck: false,
    errorMessage: {
        text: errors['password'].text
    } if (errors['password'])})
}}

<p class="govuk-body">
    <a href="/reset-password-check-email" class="govuk-link" rel="noreferrer noopener">{{'pages.enterPassword.forgottenPassword.text' | translate }}</a>
</p>

{{ govukButton({
    "text": button_text|default('general.continue.label' | translate, true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

{% endblock %}

