{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "common/show-password/macro.njk" import govukInputWithShowPassword %}
{% set showBack = true %}
{% set hrefBack = 'enter-email-create' %}
{% set pageTitleName = 'pages.enterPasswordAccountExists.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.enterPasswordAccountExists.header' | translate}}</h1>

<form id="form-tracking" action="/enter-password-account-exists" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<p class="govuk-body">
    {{ 'pages.enterPasswordAccountExists.paragraph1' | translate }}
    <span class="govuk-body govuk-!-font-weight-bold">{{email}}</span>
</p>

<p class="govuk-body">{{'pages.enterPasswordAccountExists.info' | translate}}</p>
    {{ govukInputWithShowPassword(
        'pages.enterPasswordAccountExists.password.label' | translate,
        "password",
        errors,
        {
            show: 'general.showPassword.show' | translate,
            hide: 'general.showPassword.hide' | translate,
            showFullText: 'general.showPassword.showFullText' | translate,
            hideFullText: 'general.showPassword.hideFullText' | translate,
            announceShown: 'general.showPassword.announceShown' | translate,
            announceHidden: 'general.showPassword.announceHidden' | translate
        },
        "off"
    ) }}

    {{ govukButton({
        "text": "general.continue.label" | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

<p class="govuk-body">
    <a href="/reset-password-request" class="govuk-link" rel="noreferrer noopener">{{'pages.enterPassword.forgottenPassword.text' | translate }}</a>
</p>

</form>

{% set isPageDataSensitive = false %}
{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName,loggedInStatus: false, dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
    <script defer type="text/javascript" src="/public/scripts/prevent-double-form-submit.js"></script>
{% endblock %}
