{% extends "common/layout/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% set showBack = true %}
{% set hrefBack = 'enter-email-create' %}
{% set pageTitleName = 'pages.enterPasswordAccountExists.title' | translate %}

{% block content %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.enterPasswordAccountExists.header' | translate}}</h1>

<form id="form-tracking" action="/enter-password-account-exists" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

<p class="govuk-body">
    {{ 'pages.enterPasswordAccountExists.paragraph1' | translate }}
    <span class="govuk-body govuk-!-font-weight-bold">{{email}}</span>
</p>

<p class="govuk-body">{{ 'pages.enterPasswordAccountExists.info' | translate}}</p>

    {{ govukPasswordInput({
        label: {
            text: "pages.enterPasswordAccountExists.password.label" | translate
        },
        id: "password",
        name: "password",
        autocomplete: "off",
        showPasswordText: "general.showPassword.show" | translate,
        hidePasswordText: "general.showPassword.hide" | translate,
        showPasswordAriaLabelText: "general.showPassword.showFullText" | translate,
        hidePasswordAriaLabelText: "general.showPassword.hideFullText" | translate,
        passwordShownAnnouncementText: "general.showPassword.announceShown" | translate,
        passwordHiddenAnnouncementText: "general.showPassword.announceHidden" | translate,
        errorMessage: {
            text: errors["password"].text
        } if (errors["password"])
    }) }}

    {{ govukButton({
        "text": "general.continue.label" | translate,
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

<p class="govuk-body">
    <a href="/reset-password-request" class="govuk-link" rel="noreferrer noopener">{{'pages.enterPassword.forgottenPassword.text' | translate }}</a>
</p>

</form>

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: "sign in", contentId: "a36232c7-2649-42f8-bf1e-e66ba151aa1c", loggedInStatus: false, dynamic: true })}}
{% endblock %}
