{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'pages.signedOut.title' | translate %}

{% block content %}

<input type="hidden" name="_csrf" value="{{csrfToken}}" />

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.signedOut.header' | translate }}</h1>

<p class="govuk-body">
  <a href="{{'pages.signedOut.govukLinkHref' | translate}}" class="govuk-link">{{'pages.signedOut.govukLinkText' | translate}}</a> {{'pages.signedOut.paragraph1' | translate}}
  <a href="{{signinLink}}" class="govuk-link">{{'pages.signedOut.signInLinkText' | translate}}</a> {{'pages.signedOut.paragraph2' | translate}}
</p>

{% set ga4Params = { nonce: scriptNonce, englishPageTitle: pageTitleName, taxonomyLevel1: "authentication", taxonomyLevel2: "sign out", loggedInStatus: false, dynamic: true } %}
{%- include "ga4-opl/template.njk" -%}
{% endblock %}
