{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.accountCreated.title' | translate %}
{% block content %}

{% include "common/errors/errorSummary.njk" %}

<form action="/account-created" method="post" novalidate>

    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

    {{ govukPanel({
        titleText: 'pages.accountCreated.header' | translate
    }) }}

    <br>

    <p class="govuk-body">{{'pages.accountCreated.info.heading' | translate}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{'pages.accountCreated.info.bulletPoint1' | translate}}</li>
        <li>{{'pages.accountCreated.info.bulletPoint2' | translate}}</li>
        <li>{{'pages.accountCreated.info.bulletPoint3' | translate}}</li>
        <li>{{'pages.accountCreated.info.bulletPoint4' | translate}}</li>
    </ul>

    <br>

    {{ govukButton({
        "text": button_text|default('general.continue.label' | translate, true),
        "type": "Submit",
        "preventDoubleClick": true
    }) }}

</form>

{% endblock %}