{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageTitleName = 'pages.accountCreated.title' | translate %}
{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.accountCreated.header' | translate}}</h1>

<form id="form-tracking" action="/account-created" method="post" novalidate>
<input type="hidden" name="phoneNumber" value="{{phoneNumber}}"/>
<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{% if serviceType === 'OPTIONAL' %}
    <p class="govuk-body">{{'pages.accountCreated.youCanNowSaveYourProgress' | translate}}</p>

    {{ govukButton({
        "text": "pages.accountCreated.saveYourProgress" | translate,
        "preventDoubleClick": true
    }) }}
{% else %}
    <p class="govuk-body">{{'pages.accountCreated.text' | translate}}</p>

    {{ govukButton({
        "text": "pages.accountCreated.continue" | translate,
        "type": "Submit",
        "preventDoubleClick": true,
        attributes: {
            "data-nav": "true",
            "data-link": "/undefined"
        }
    }) }}
{% endif %}
</form>

{{ga4OnPageLoad({ nonce: scriptNonce, statusCode: "200", englishPageTitle: pageTitleName, taxonomyLevel1: taxonomyLevel1, taxonomyLevel2: taxonomyLevel2, contentId: "6857e410-75b8-4807-b475-3f24fc96c9de", loggedInStatus: false, dynamic: false })}}
{% endblock %}
