{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.accountCreated.title' | translate %}
{% block content %}

{% include "common/errors/errorSummary.njk" %}

{{ govukPanel({
    titleText: 'pages.accountCreated.header' | translate
}) }}

<p class="govuk-body">{{'pages.accountCreated.text' | translate}}</p>

 {{ govukButton({
  "text": button_text|default('pages.accountCreated.continue' | translate, true),
  "href": linkUrl,
     "attributes": {
         "id": "track-link"
     },
  "preventDoubleClick": true
  }) }}

{% if serviceType === 'MANDATORY' %}

    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.accountCreated.subHeader' | translate}}</h2>

    <p class="govuk-body">{{'pages.accountCreated.info.paragraph1' | translate}}</p>
    <p class="govuk-body">{{'pages.accountCreated.info.paragraph2' | translate}}</p>
    <p class="govuk-body">{{'pages.accountCreated.info.paragraph3' | translate}}</p>

{% endif %}

{% if serviceType === 'OPTIONAL' %}
    <h1 class="govuk-body govuk-bold">{{'pages.accountCreated.progressSaved' | translate}}</h1>

    {{ govukButton({
        "text": button_text|default('pages.accountCreated.continue' | translate, true),
        "href": linkUrl
    }) }}

    <br>

    <a href="{{ logoutUrl }}" class="govuk-link govuk-body">
        {{'pages.accountCreated.signOut' | translate}}
    </a>
{% endif %}

{% endblock %}
