name: analyse on merge checks
on:
  push:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6389:6379

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Use Node.js 20.x
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 20.17.0
          cache: "yarn"
          cache-dependency-path: "yarn.lock"
      - name: Install dependencies
        run: yarn install
      - name: Build app
        run: yarn build
      - name: Run unit tests
        run: yarn test:unit
      - name: Run integration tests
        run: yarn test:integration-no-clear-cov
      - name: Run test coverage
        run: yarn test:coverage
      - name: Run lint
        run: yarn lint
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@02ef91109b2d589e757aefcfb2854c2783fd7b19 # v4.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    env:
      ENVIRONMENT: development
      API_BASE_URL: http://localhost:6000/api
      FRONTEND_API_BASE_URL: http://localhost:6060/api
      SESSION_SECRET: secret
      API_KEY: test-key
      REDIS_HOST: localhost
      REDIS_PORT: 6389
      SMARTAGENT_API_URL: https://uat.smartagent.app/ # Dummy URL for SmartAgent UAT environment
