name: Build and push Docker image
on:
  workflow_call:
    inputs:
      aws-region:
        description: "AWS region to deploy to"
        default: "eu-west-2"
        type: string
      context:
        description: "The build context. Defaults to repository root"
        default: "."
        type: string
      cache-ecr-repo:
        description: "The name of the ECR repo to use for caching"
        default: "build-cache"
        type: string
    secrets:
      dynatrace_registry:
        description: "The Dynatrace registry to use (just the username)"
      dynatrace_token:
        description: "The Dynatrace token"
      deployer_role:
        description: "The role to assume in the tooling account"
      ecr_repo:
        description: "The name of the ECR repo to push to"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    env:
      CACHE_TAG: ${{ inputs.context == '.' && 'root' || inputs.context }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Docker CLI
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Assume AWS DEPLOYER role in tooling acct
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: ${{ secrets.deployer_role }}
          aws-region: ${{ inputs.aws-region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Login to GDS Dev Dynatrace Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: "${{ secrets.dynatrace_registry }}.live.dynatrace.com"
          username: ${{ secrets.dynatrace_registry }}
          password: ${{ secrets.dynatrace_token }}

      - name: Build image metadata
        id: metadata
        if: github
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ecr_repo }}"
          labels: ${{ inputs.context != '.' && format('org.opencontainers.image.title={0}', inputs.context) }}
          tags: |
            type=sha,prefix=,suffix=,format=long
      - name: Build, tag and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
          CACHE_IMAGE: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.cache-ecr-repo }}:${{ env.CACHE_TAG }}-cache
        with:
          context: ${{ inputs.context }}
          build-contexts: |
            oneagent_codemodules=docker-image://${{ secrets.dynatrace_registry}}.live.dynatrace.com/linux/oneagent-codemodules-musl:nodejs
          push: true
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}
          cache-from: type=registry,ref=${{ env.CACHE_IMAGE }}
          cache-to: mode=max,image-manifest=true,oci-mediatypes=true,type=registry,ref=${{ env.CACHE_IMAGE }}
