name: Build and push Docker image
on:
  workflow_call:
    inputs:
      aws-region:
        description: "AWS region to deploy to"
        default: "eu-west-2"
        type: string
      context:
        description: "The build context. Defaults to repository root"
        default: "."
        type: string
      cache-ecr-repo:
        description: "The name of the ECR repo to use for caching"
        default: "build-cache"
        type: string
    secrets:
      dynatrace_registry:
        description: "The Dynatrace registry to use (just the username)"
      dynatrace_token:
        description: "The Dynatrace token"
      deployer_role:
        description: "The role to assume in the tooling account"
      ecr_repo:
        description: "The name of the ECR repo to push to"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    env:
      CACHE_TAG: ${{ inputs.context == '.' && 'root' || inputs.context }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker CLI
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Assume AWS DEPLOYER role in tooling acct
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.deployer_role }}
          aws-region: ${{ inputs.aws-region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Login to GDS Dev Dynatrace Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: "${{ secrets.dynatrace_registry }}.live.dynatrace.com"
          username: ${{ secrets.dynatrace_registry }}
          password: ${{ secrets.dynatrace_token }}

      - name: Build image metadata
        id: metadata
        if: github
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            "${{ steps.login-ecr.outputs.registry }}/${{ secrets.ecr_repo }}"
          labels: ${{ inputs.context != '.' && format('org.opencontainers.image.title={0}', inputs.context) }}
          tags: |
            type=sha,prefix=,suffix=,format=long
      - name: Build, tag and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
          CACHE_IMAGE: ${{ steps.login-ecr.outputs.registry }}/${{ inputs.cache-ecr-repo }}:${{ env.CACHE_TAG }}-cache
        with:
          context: ${{ inputs.context }}
          build-contexts: |
            oneagent_codemodules=docker-image://${{ secrets.dynatrace_registry}}.live.dynatrace.com/linux/oneagent-codemodules-musl:nodejs
          push: true
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}
          cache-from: type=registry,ref=${{ env.CACHE_IMAGE }}
          cache-to: mode=max,image-manifest=true,oci-mediatypes=true,type=registry,ref=${{ env.CACHE_IMAGE }}
