name: Pre-merge checks
on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

jobs:
  run-tests:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6389:6379

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn install
      - name: Check formatting
        run: yarn check-pretty
      - name: Run lint
        run: yarn lint
      - name: Build app
        run: yarn build
      - name: Run unit tests
        run: yarn test:unit
      - name: Run integration tests
        run: yarn test:integration-no-clear-cov
      - name: Run test coverage
        run: yarn test:coverage
      - name: SonarCloud Scan
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    env:
      ENVIRONMENT: development
      API_BASE_URL: http://localhost:6000/api
      FRONTEND_API_BASE_URL: http://localhost:6060/api
      SESSION_SECRET: secret
      API_KEY: test-key
      REDIS_HOST: localhost
      REDIS_PORT: 6389
      SMARTAGENT_API_URL: https://uat.smartagent.app/ # Dummy URL for SmartAgent UAT environment
